[2013-01-18 21:10] Gankra opened #2 "What are your actual names?"
Post your actual name so we can associate them with your github accounts. This will be your mark for T2.

[2013-01-18 22:56] #2 closed, assigned to nobody

[2013-01-18 22:57] psimonyi commented on #2
Commit 6e9a100. (also each of our accounts is associated with the owner's real name)

[2013-01-19 00:36] Gankra commented on #2
Ideally we'd like to be able to associate your account with your name (so commenting in this issue with your name would be the easiest [I am not your TA]).

[2013-01-19 08:35] spratt commented on #2
This is Simon Pratt.

[2013-01-20 03:42] bheesham commented on #2
This is Bheesham Persaud.

[2013-01-20 07:55] psimonyi commented on #2
This is Peter Simonyi.

[2013-01-20 07:56] psimonyi commented on #2
... but look at https://github.com/CarletonU-COMP2406-W2013?tab=members and you won't have to wait to find out Christian's name!

[2013-01-20 16:51] cdelahousse commented on #2
Christian Delahousse

[2013-01-20 23:42] cdelahousse opened #4 "Copy source code to repository"
We need something to get going...

[2013-01-20 23:45] cdelahousse opened #5 "Are we merging the front end and rear end into one repo"
Our current code base was shared between github and bitbucket for the front end and back end, respectively. How will we be managing this divide?

[2013-01-21 05:13] spratt commented on #5
I was strongly considering doing this for a while since they are necessarily pretty tightly coupled.  They shouldn't be in the same directory on the server, since the front-end is served statically and the back-end is executed and the result is served.  Should be fine.

[2013-01-21 16:56] Gankra commented on #5
We have 300 private repos, but only like 50-60 groups. So it wouldn't be impossible for us to allocate multiple repositories, as long as one is the "main" one (e.g. client and server are git modules of this one). I would need to confirm this with @asomayaji, though.

[2013-01-21 18:03] cdelahousse commented on #5
I'd really like to see everything in one repo. It's just easier to manage the project. If I need to clone the project on some computer, minimal configuration will be needed to get it running locally. No copying repos into repos or what not.

Also, when we run the node instance in dev mode, we're emulating what simon's done on the server. Running in dev mode creates a server that acts as back end s

[2013-01-21 18:05] spratt commented on #5
Yes.  Let's merge them.

[2013-01-21 18:06] cdelahousse commented on #5
I'd like to hear from at least one more team member before we do anything.

[2013-01-21 18:07] spratt commented on #5
Agreed.

[2013-01-21 18:30] cdelahousse opened #6 "Codify dev conventions and document certain parts of the process"
## Dev conventions

I want this project to have legs and continue well beyond the end of the course. I think an addition that would keep us on track would be to codify some of the agreed upon conventions using the provided github wiki.

For example, every pull request must be merged by someone other than the pull-ee.

Please list any suggestions you have.

We should also consider closing or action

[2013-01-21 18:34] cdelahousse opened #7 "Style guide to wiki or keep as text file."
Over the summer, we sketched out a style guide. I think we should use the facilities provided by github and move it to the wiki instead of having it live in a text file.

Original issue:
https://github.com/SteamedPears/CodeReviewClientMaster/issues/44

Bhee made a first draft:
https://github.com/SteamedPears/CodeReviewClientMaster/blob/master/CODING

[2013-01-21 18:55] cdelahousse opened #8 "Transferring previous issues (from old front end repo)"
There seems to be a tonne of issues in the old repo (https://github.com/SteamedPears/CodeReviewClientMaster/issues?state=open).

How should we go about transferring them to this one?

[2013-01-21 19:01] cdelahousse commented on #8
Found something that may help us. A python script that does some work for you.

https://github.com/mkorenkov/tools/tree/master/gh-issues-import

[2013-01-21 22:13] bheesham commented on #6
So for discussing the issues, features, etc, I think that using Issues on Github would be a good idea. Then once we've figured out what we actually want, add that to some sort of specs page on the wiki.

I don't think we should ever do it through git commits, unless it's finding something we need to discuss. So if someone wants to implement something, and run into a problem, commit changes, then c

[2013-01-21 22:15] bheesham commented on #5
I'm all for merging and stuff. But I suggest that we merge it into a different branch, because we'll be rewriting it, using the "old" branch with both the client and server, only as a reference.

[2013-01-23 07:34] psimonyi commented on #7
My first reaction was approval — I like wikis. However, on second thought, I'm not sure what benefit the wiki has over a plain text file in git. (Also, _tabs_?)

[2013-01-23 07:42] psimonyi commented on #5
I'm all for merging. (There's also the option of repo-in-repo, but that seems like possibly overkill.)

[2013-01-23 15:00] cdelahousse commented on #7
If our documentation grows, text files may grow unwieldy. Wikis allow
formatting, categorizing, linkng, etc.

I think the biggest drawback is that having a wiki will make us depend more
on github. We won't be as portable. I coukd say the same thing about using
the milestones and issues features.

Many bigger projects make use of github wikis. The HTML5 boilerplate isv a
good example.
 On Jan 23, 2

[2013-01-24 01:51] psimonyi commented on #7
Github wikis seem to be markdown files in git repositories, so it's relatively portable. I'm convinced.

[2013-01-24 03:50] cdelahousse commented on #7
We've two members in favour. I'd like to hear from one more.

[2013-01-24 03:57] spratt commented on #7
Wiki is good.

Stop trying to get a majority for every decision.  Make the plan known, anyone who disagrees with the plan can object.  Otherwise, just do it.

[2013-01-24 03:57] #7 closed, assigned to cdelahousse

[2013-01-24 06:55] psimonyi commented on #7
Done.

[2013-02-01 20:08] cdelahousse opened #10 "Convert to the HTML5 boilerplate"
It's just great front end boilerplate code.

It won't affect the our code very much, so this shouldn't take much work.

I'd also like to use their build script which will compress images, minify JS and do a ton of other magic on the fly.

https://github.com/h5bp/html5-boilerplate

[2013-02-03 19:17] spratt commented on #5
Done.  See 54116899bca1c91e66bbe60d2915d713ae33e640

[2013-02-03 19:17] #5 closed, assigned to nobody

[2013-02-03 19:18] spratt commented on #4
Done.  See 54116899bca1c91e66bbe60d2915d713ae33e640

[2013-02-03 19:18] #4 closed, assigned to nobody

[2013-02-03 19:22] spratt opened #13 "Easy Developer Deployment"
A requirement is for it to be as easy as possible for a new member like @psimonyi or a TA like @jbeltram to pull down the repo and run our code.

Since I have experience deploying the code on our production server and several dev servers, I'll take lead in making this happen.

[2013-02-03 23:35] cdelahousse commented on #13
Sounds as awesome as cheese on bacon.

[2013-02-03 23:41] spratt commented on #13
Update: I have nice scripts for starting and stopping the server in dev mode.  All that's left to do now is the dev mode of the database, for which we'll use sqlite since it's super simple and good enough for a development environment.

[2013-02-04 01:21] psimonyi commented on #13
On Sun, 2013-02-03 at 15:41 -0800, Simon David Pratt wrote:

[2013-02-04 03:26] spratt commented on #13
The ORM will be generating the SQL.  It should handle the variations, but I agree - be alert.

[2013-02-04 03:28] bheesham commented on #10
Hmmm... I took a look at the repo and was just put off by all the files we wouldn't need.
It also seems as though there's a lot of CSS rules that we won't end up touching.

If you can justify using it, then yeah sure, but it seems as though this is a shotgun approach.

[2013-02-04 04:10] cdelahousse commented on #10
We're not expected to use it all. We can use it piece meal. Hell, I'd be happy just copy pasting bits of code from the project.

Every part of the project is supposed to give you a really good starting point, plus a few other goodies. The index.html page uses a ton of cool little tricks. The CSS gives a browser normalized base (defaults) to build from and a ton of helper classes, such as the clear

[2013-02-04 04:53] spratt commented on #13
So the persistencejs ORM won't install and apparently hasn't worked since node 0.5 (!!).  I'll make a pull request with the version that works except for the DB and if anyone feels like taking a crack at making it easy to deploy, they are welcome.  I'm switching over to 4804 studying.

[2013-02-04 15:27] jbeltram opened #15 "Test Issue"
Testing....

[2013-02-04 15:29] #15 closed, assigned to nobody

[2013-02-04 17:14] cdelahousse opened #16 "Change TA to Furkan Alaca"
As discussed last Friday, we will be switching TA's to Furkan Alaca (@falaca). He and @jbeltram have been meaning to switch teams for a while and @falaca 's tutorial hours work well with at least 3 of the Steamed Pears ( @psimonyi , @spratt , and me).

@falaca has gone over our milestones. Despite thinking they're unorthodox, he's on the same page.

[2013-02-04 17:16] cdelahousse commented on #16
I've sent emails to both TAs to confirm the change.

[2013-02-04 17:23] #16 closed, assigned to falaca

[2013-02-04 17:24] cdelahousse commented on #16
@jbeltram confirmed the change.

[2013-02-04 19:32] spratt commented on #13
Turned out, the ORM we were using before (sequelize) supports sqlite with only minor tweaking.

[2013-02-04 19:36] spratt commented on #13
Resolved by f92859798a4c67c49d96c3aa5a6df2a3e38797ac

[2013-02-04 19:36] #13 closed, assigned to spratt

[2013-02-04 19:43] spratt commented on #6
I have created https://github.com/CarletonU-COMP2406-W2013/Steamed-Pears/wiki/Process

Let's use the wiki to document process.

The question of documenting design decisions is harder.  I think we should use issues to document design problems, and discuss the solution in some detail in the resolution of the issue.

@psimonyi What do you think?

[2013-02-04 19:46] spratt commented on #10
We should meet up and talk about this.  I think @cdelahousse  can make his case on the parts he thinks we should use.

Our CSS needs a serious overhaul and we aren't following any best practices for anything to my knowledge, so I think there's a target rich environment for improving things.

[2013-02-04 20:16] cdelahousse commented on #8
Before I go about importing all the old issues programatically, could you guys take a look at the imported issues in my test repo and see if it's OK. Ignore the closed issues. Some issues need to be imported manually.

https://github.com/cdelahousse/testdeleteme/issues

@spratt @bheesham @psimonyi

[2013-02-04 20:52] bheesham commented on #8
Heh, that looks good. But I feel as though most of those conversations are one-sided.

[2013-02-04 21:34] spratt commented on #8
You have spammed the hell out of the original issues: https://github.com/SteamedPears/CodeReviewClientMaster/issues/16

[2013-02-04 21:35] spratt commented on #8
Otherwise, looks perfect.  :)

[2013-02-04 21:37] cdelahousse commented on #8
Woops...

[2013-02-04 21:37] spratt commented on #8
Maybe they go away when you delete the testdeleteme repo?  We'll see.

[2013-02-05 04:36] cdelahousse opened #19 "clean comment/code for carriage returns"
_Imported issue by **[Gankro](http://github.com/Gankro)** from 2012-07-23T03:17:24Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/73_

---

When code or comments are submitted all carriage returns should be removed to ensure diff computation does not encounter errors.

[2013-02-05 04:36] cdelahousse opened #20 "Use new index form fields"
_Imported issue by **[Gankro](http://github.com/Gankro)** from 2012-07-23T03:03:52Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/72_

---

Title: Title of code
Custom ID: Custom URL to use, must verify it is not taken (and does not contain special characters)
Parent: the ID of code this is forked from
Encrypt Page (See Issue #71)

[2013-02-05 04:36] cdelahousse opened #21 "Page Encryption"
_Imported issue by **[Gankro](http://github.com/Gankro)** from 2012-07-23T02:59:24Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/71_

---

Implement page encryption using new form fields.

If "encrypt page" is checked of, encrypt the code client side symmetrically using salt+password. Also store a hash of salt+password and the salt itself.

If someone naviga

[2013-02-05 04:36] cdelahousse opened #22 "Diff engine search"
_Imported issue by **[cdelahousse](http://github.com/cdelahousse)** from 2012-07-19T00:04:28Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/67_

---

Our current diff engine (Google diff) sucks monkey balls. We need a new one.

It does it character by character. We want line by line.

[2013-02-05 04:36] cdelahousse commented on #22
_Imported comment by **[bheesham](http://github.com/bheesham)** from 2012-07-19T18:57:25Z_ *

---

We could use git's here.
It would take a bit of looking into, but I think that it's doable.

[2013-02-05 04:36] cdelahousse commented on #22
_Imported comment by **[bheesham](http://github.com/bheesham)** from 2012-07-19T20:22:55Z_ *

---

[This seems good.](https://github.com/cemerick/jsdifflib)

[2013-02-05 04:36] cdelahousse opened #23 "Decide how threading/replies works"
_Imported issue by **[Gankro](http://github.com/Gankro)** from 2012-07-15T05:15:50Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/63_

---

Should have a button to also comment on the code that a comment you are looking at has commented on. Not sure if this should be treated as another comment, or specially treated as an actual "reply". Maybe do it like Stack

[2013-02-05 04:36] cdelahousse commented on #23
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-15T05:44:25Z_ *

---

I like the SO structure.  We should create a "reply" model and a "replies" table in the backend, and matching queries and display in the frontend.

[2013-02-05 04:36] cdelahousse commented on #23
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T15:57:30Z_ *

---

Can replies also have diffs?

[2013-02-05 04:36] cdelahousse commented on #23
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-17T01:03:57Z_ *

---

I could argue either way.  Going to go with yes.

[2013-02-05 04:36] cdelahousse opened #24 "Tutorial"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-07-15T04:51:10Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/60_

---

Now that the interface is actually usable, we should start thinking about user experience.  When the user first submits code, they are presented with a page that shows their code and whole bunch of empty space.  If no com

[2013-02-05 04:36] cdelahousse commented on #24
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T05:05:24Z_ *

---

This seems doable. Something like:
[box with arrow pointing to code]
"Select a portion of the code to comment on it or suggest a change."

If they select it:
[box appears below the comment box]
"Nice! Here you can discuss the selected portion of code. You can edit this copy of the code to provide suggest

[2013-02-05 04:36] cdelahousse commented on #24
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-15T05:07:53Z_ *

---

Exactly what I was thinking.  Nothing complicated.

[2013-02-05 04:36] cdelahousse commented on #24
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T05:12:48Z_ *

---

The question is just when to show it. We could show it to a new user the first time they submit code. What about an anonymous user? Every time? What about a new/anonymous user who isn't submitting code but has just been linked to this code base. What if there's already some comments on it?

[2013-02-05 04:36] cdelahousse commented on #24
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-15T05:29:49Z_ *

---

I think we should show it any time there are no comments.

[2013-02-05 04:36] cdelahousse commented on #24
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T15:47:48Z_ *

---

I dunno, I feel like being "f1rst" is generally a rare phenomenon. Anyone who doesn't get it won't have any way to know.

[2013-02-05 04:36] cdelahousse commented on #24
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-17T01:02:00Z_ *

---

I think to a large extent, users will see other comments and try to figure out how to leave their own.  Though if you have a better suggestion, I'd be interested to hear it.

[2013-02-05 04:36] cdelahousse commented on #24
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-17T02:36:48Z_ *

---

It just doesn't seem intuitive. Especially since I just disabled clicking on a line to comment (must select). I'm at a loss for a superior alternative.

[2013-02-05 04:36] cdelahousse commented on #24
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-18T17:06:26Z_ *

---

We'll talk about it at the meeting tonight.

[2013-02-05 04:36] cdelahousse opened #25 "0-index versus 1-index"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-07-15T02:01:29Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/53_

---

CodeMirror stores lines in 0-index format, whereas the backend stores lines in 1-index, which leads to lots of off-by-one errors.

[2013-02-05 04:37] cdelahousse commented on #25
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T04:39:15Z_ *

---

I would wait on this until way have absolutely settled on continuing to use CodeMirror.

[2013-02-05 04:37] cdelahousse commented on #25
_Imported comment by **[cdelahousse](http://github.com/cdelahousse)** from 2012-07-18T23:59:29Z_ *

---

We may be changing syntax highlighter. This issue depends on that change. This issue will remain open until we've resolved that issue.

[2013-02-05 04:37] cdelahousse opened #26 "CodeMirror expansion is broken"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-07-15T01:54:46Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/51_

---

CodeMirror is set to expand so that it doesn't have a scroll bar, but it usually fails and the observed behaviour is that it has a scroll bar, but when you scroll, the scroll bar disappears.

We can probably get rid of th

[2013-02-05 04:37] cdelahousse commented on #26
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T04:38:42Z_ *

---

Aggressively applying and re-applying refresh() even after waiting intervals seems to be ineffective against this issue. Counting this as a point for ditching Code Mirror.

[2013-02-05 04:37] cdelahousse opened #27 "comment summaries"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-07-13T20:55:50Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/46_

---

In the comment area on the right of the page, we should display a summary of the comments on that line.  The summary should be something like a button or a box that can be clicked on to expand the full comments.

[2013-02-05 04:37] cdelahousse commented on #27
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-13T20:57:36Z_ *

---

We should display the first few users who have commented on a line. The more information we can put into these summaries, the better.

[2013-02-05 04:37] cdelahousse commented on #27
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-14T23:32:23Z_ *

---

We need to provide support for just loading the comment counts first. If we do that, I'll assume we're also loading with each comment number something called "preview" which previews some info. E.G.

[{"line":"3","count":"4","preview":"John: I don't know..."},{"line":"17","count":"2","preview":"Steve: I

[2013-02-05 04:37] cdelahousse commented on #27
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-15T01:52:54Z_ *

---

Looks good, I'll implement this on the back end and let you know.

[2013-02-05 04:37] cdelahousse opened #28 "Need coding spec/standard/guidelines"
_Imported issue by **[cdelahousse](http://github.com/cdelahousse)** from 2012-07-13T17:43:43Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/44_

---

Single quotes or double quotes?
Tabs or spaces?

Camel case?

Etc...!?

[2013-02-05 04:37] cdelahousse commented on #28
_Imported comment by **[cdelahousse](http://github.com/cdelahousse)** from 2012-07-13T17:58:21Z_ *

---

Things Simon, Bhee and I have agreed upon:

For CSS, classes and ids are lowercase with dashes for spaces
Example:
    <div id="farts-are-so-damn-cool" class="flatulence-is-everywhere"> </div>

[2013-02-05 04:37] cdelahousse commented on #28
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-14T22:05:16Z_ *

---

I've assigned this to Bhee.  The first draft is mostly done, but it would be good to get Alexis' input before we submit it.

[2013-02-05 04:37] cdelahousse commented on #28
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T03:02:29Z_ *

---

I'm not a fan of blha-balh-blah. For strictly emotional reasons. Regardless I have complied.

[2013-02-05 04:37] cdelahousse commented on #28
_Imported comment by **[bheesham](http://github.com/bheesham)** from 2012-07-15T03:41:51Z_ *

---

Check out my fork. I committed our progress on the standard so far (see CODING).

[2013-02-05 04:37] cdelahousse commented on #28
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T03:54:08Z_ *

---

I would maybe suggest inverting the quotation marks. blah='what' for html, blah="what" for js.

That seems more natural to me. I feel like XML-like things favour single quotes, and C-Style languages prefer double quotes for genuine strings. Also when doing jquery $("<thing class='what'>") is more natural

[2013-02-05 04:37] cdelahousse commented on #28
_Imported comment by **[cdelahousse](http://github.com/cdelahousse)** from 2012-07-15T04:24:56Z_ *

---

The reason we have one var statement with continuations is because of variable hoisting. It may be bad design, but it's a convention that you see in a shitload of well written javascript. Both JShint and JSlint will complain if you don't have all variable declarations on one line up top.

[code

[2013-02-05 04:37] cdelahousse commented on #28
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T04:37:23Z_ *

---

I am netural to the HTML quotes. I'd be fine with just "double everywhere, unless it's a nested HTML string in javascript, in which case single quote".

More robust var is simply a matter of modularity. If i add or remove a var I don't have to worry about commas or if it's the first or last line in the t

[2013-02-05 04:37] cdelahousse commented on #28
_Imported comment by **[cdelahousse](http://github.com/cdelahousse)** from 2012-07-15T04:48:06Z_ *

---

Well, we can disable a lot of JSLint/JSHint's warnings/chirps/complaints. I agree that the defaults are pretty shitty. We still need to lint the code somehow.

The more we talk about this, though, the less I care. So if you want want a `var` on every line, I won't complain. What does Bhee and S

[2013-02-05 04:37] cdelahousse commented on #28
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-15T04:55:38Z_ *

---

I don't like

var var1='val1'
, var2='val2';

or

var var1='val1';
var var2='val2';

But I'd like to know more about variable hoisting before I can really form an opinion.

[2013-02-05 04:37] cdelahousse commented on #28
_Imported comment by **[cdelahousse](http://github.com/cdelahousse)** from 2012-07-15T05:14:31Z_ *

---

I need to you 'magically' find a book called _Javascript Patterns_ by Stoyan Stefanov (2010, O'Reilly).

Read pages 14 and 61.

[2013-02-05 04:37] cdelahousse commented on #28
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T05:16:53Z_ *

---

You're bad at the internet and you should feel bad.

[2013-02-05 04:37] cdelahousse opened #29 "Email notifications on new comments"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-07-06T16:06:42Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/36_

---

We could notify the user when new comments are posted.

[2013-02-05 04:37] cdelahousse commented on #29
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T05:09:36Z_ *

---

This is the most obnoxious feature of any tool to me, but I guess some people like this kind of thing. Definitely add this to the list of things in the hypothetical user settings.

I have no idea how to implement this though.

123notme

[2013-02-05 04:37] cdelahousse commented on #29
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-15T05:31:59Z_ *

---

It should be optional for sure.  Just a text box that allows the entry of a valid email.  Then on the backend, send an email to the submitter on every new comment.

[2013-02-05 04:37] cdelahousse opened #30 "Comet push comments"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-07-06T16:05:28Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/35_

---

We could keep a connection to the server alive to live update comments.  This would be hard to scale though.

[2013-02-05 04:37] cdelahousse commented on #30
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-06T22:08:38Z_ *

---

We could live update the comment counts. That shouldn't be too big a burden. With the way diffs are set up I definitely don't recommend loading all the comments though. Should only load them when the specific line has been selected.

[2013-02-05 04:37] cdelahousse opened #31 "Scalability Audit"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-07-06T16:01:18Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/34_

---

We really need to sit down and try to hammer the site, to make sure it can handle a slashdot.

[2013-02-05 04:37] cdelahousse opened #32 "Security Audit"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-07-06T16:00:31Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/33_

---

We really need to sit down and try to break the security before we demonstrate the app publicly.

[2013-02-05 04:37] cdelahousse opened #33 "Minification"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-07-05T14:16:40Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/24_

---

We may want to create a minification script that "compiles" the source into minified versions for deployment.

[2013-02-05 04:37] cdelahousse opened #34 "Stop using do/languages"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-07-05T14:01:19Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/23_

---

Since we already have languages.json, we don't really need to have languages stored in the database.  I'm thinking we should change the unique ids of the languages from numbers to their short-names such as "js" which are

[2013-02-05 04:37] cdelahousse commented on #34
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-13T21:00:12Z_ *

---

Since this is mostly a backend thing, I'm assigning this to Christian.

[2013-02-05 04:37] cdelahousse commented on #34
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T05:28:32Z_ *

---

Could we just have do/languages link to langauges.json? I kind of like the uniformity/implementation-neutrality of do/languages as a URL.

[2013-02-05 04:37] cdelahousse commented on #34
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-15T05:36:00Z_ *

---

That is probably doable, but I like putting as little strain on the backend as possible.  The less the backend gets hit and the more we can use a cached static front end, the more requests we're going to be able to satisfy in some unit time.

[2013-02-05 04:37] cdelahousse commented on #34
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T15:49:18Z_ *

---

How much cost does a hardlink from do/languages to languages.json incur?

[2013-02-05 04:37] cdelahousse commented on #34
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-17T01:03:03Z_ *

---

The back end is single threaded, so every request for a hard linked file would delay the processing of actual requests.

[2013-02-05 04:37] cdelahousse opened #35 "Code clean up"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-07-05T13:57:30Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/22_

---

The code is starting to get a little hairy.  We should probably do some serious review and clean it up.  There's lots of code duplication, both within view.js and duplicated code across index.js and view.js.  We should re

[2013-02-05 04:37] cdelahousse commented on #35
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-06T22:09:52Z_ *

---

Can you reference specific areas that are duplicated? I don't see anything that is really bad at this point. Except for maybe mapping line number into {line:,ch:} format.

[2013-02-05 04:37] cdelahousse commented on #35
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-13T21:01:59Z_ *

---

The html for index and view are almost identical, and much of the utility functions between index and view are shared.  Index and view can probably be merged into one file that displays the code submission form if no id is specified and if an id is specified, show the code with that id.

[2013-02-05 04:37] cdelahousse opened #36 "Github Flavored Markdown broken"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-07-05T13:54:04Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/21_

---

This is caused by the fact that GFM may contain any other language, so it has to load ALL the languages.  We should implement some kind of progress bar, or any kind of indication that the page is still loading.

Update Fe

[2013-02-05 04:37] cdelahousse commented on #36
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-06T22:10:41Z_ *

---

Maybe don't support github markdown? That seems excessive.

[2013-02-05 04:37] cdelahousse commented on #36
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-14T21:56:58Z_ *

---

That's probably the right thing to do.  We could just treat GFM as regular Markdown from now on.  Or include a couple of the most popular languages.  I suspect it doesn't fail horribly if it doesn't have a language loaded when it encounters that language.

[2013-02-05 04:37] cdelahousse commented on #36
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T05:21:36Z_ *

---

You are the maintainer of this feature. Assigned to you.

[2013-02-05 04:37] cdelahousse opened #37 "Language Auto-detection"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-07-04T12:27:25Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/18_

---

As the user enters code in the code submission window, we should make a reasonable guess at which language they are using, but still let the user pick their language, and stop trying to auto-detect once they've chosen.

[2013-02-05 04:37] cdelahousse commented on #37
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-14T23:16:56Z_ *

---

This doesn't seem tractable, as indicated by the ubiquity of "C-Like". Also if you have a string with another language in it, how would you possibly resolve that? Is this some HTML with javascript, or some javascript with HTML?

[2013-02-05 04:37] cdelahousse commented on #37
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-15T01:49:49Z_ *

---

Our first idea is a Bayesian classifier.  Basically build a score for each language, maybe based on the number of keywords matched, and calculate the probability of each language.  When the probability passes a certain threshold, make that guess.

[2013-02-05 04:37] cdelahousse opened #38 "Custom ID/URL"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-07-03T21:15:16Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/16_

---

A user should be able to, instead of getting a random obfuscated id, specify their own id so they can remember it. Like how the url compacting/aliasing services let you have tinyurl.com/woahThisIsASweetLink.
- @Gankro (Al

[2013-02-05 04:37] cdelahousse opened #39 "Persona integration"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-07-03T13:02:22Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/14_

---

Add Open ID integration for users who wish to log in.  I would like anonymous submissions to remain an option, so we can compete with paste bin.

P.S. Persona may be better than Open ID.

[2013-02-05 04:37] cdelahousse opened #40 "Code minimap"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-06-26T14:42:18Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/7_

---

Sublime text has a "code minimap" at the left side of the screen which shows the code at a very high level.  This is kind of gimicky, but if we highlight the lines with comments then it can help finding comments in large b

[2013-02-05 04:37] cdelahousse commented on #40
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T05:20:30Z_ *

---

The more I think about this, the less excited I am about it. However if we do this I demand a "comment/diff" heat map indicating activity.

[2013-02-05 04:37] cdelahousse commented on #40
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-07-15T05:33:49Z_ *

---

I really like the idea of being able to see at a glance and move directly to wherever there are comments in a big file.  A comment/diff heatmap is a must.

[2013-02-05 04:37] cdelahousse opened #41 "Don't grab all comments at once"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-06-26T14:36:00Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/4_

---

We should probably just grab the comments in limited amounts.  50 at a time, maybe?  This should make the page more responsive when there are lots of comments.

[2013-02-05 04:37] cdelahousse commented on #41
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-06-27T18:19:58Z_ *

---

As it's designed now we could store with the code a map of line numbers to comment numbers. Then only when someone clicks on the (#) do the comments get AJAX loaded in. I dunno how this would work with the back end, loading all the comments from one specific line, that is.

If there's too many comments o

[2013-02-05 04:37] cdelahousse commented on #41
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-06-29T05:46:20Z_ *

---

On the backend, it would be easy just to get the comments on a specific line number.  Would it hurt responsiveness?  We may want to think about the case where there are hundreds of comments on one line.  Then again, we may want to leave that for our future selves to deal with.

[2013-02-05 04:37] cdelahousse commented on #41
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-07-15T15:59:21Z_ *

---

Details on expected resolution strategy here: https://github.com/SteamedPears/CodeReviewClientMaster/issues/46#issuecomment-6987610

[2013-02-05 04:37] cdelahousse opened #42 "Forking"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-06-26T14:34:55Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/3_

---

Users should be able to fork an existing piece of code.  Effectively this means putting uploaded code back into an editor, and tracking where it was forked from.

[2013-02-05 04:37] cdelahousse opened #43 "Scrape, Github/Gist, various vendor bookmarklet"
_Imported issue by **[spratt](http://github.com/spratt)** from 2012-06-26T14:33:20Z_
_Originally opened as https://github.com/SteamedPears/CodeReviewClientMaster/issues/2_

---

We should be able to make a bookmarklet that scrapes the plain text of code in a github repo or a gist and pulls it into our editor.

[2013-02-05 04:37] cdelahousse commented on #43
_Imported comment by **[Gankro](http://github.com/Gankro)** from 2012-06-27T18:16:40Z_ *

---

Specific files or entire code bases? Should there be any meta-data that associates related files (e.g. as part of the same project or package)?

[2013-02-05 04:37] cdelahousse commented on #43
_Imported comment by **[spratt](http://github.com/spratt)** from 2012-06-29T05:44:18Z_ *

---

For now: specific file, ignore meta data except what language the file is in.

[2013-02-05 15:33] spratt commented on #19
Don't we want to track changes in carriage returns?

[2013-02-05 15:34] spratt commented on #22
We may actually want character by character diffs.

[2013-02-05 15:36] spratt commented on #21
This security model may be broken, since the user has to trust we aren't storing their password.  Additionally, unless we use SSL, we can't assume the code will get to the user unmodified by someone malicious.

[2013-02-05 15:38] spratt commented on #23
The structure of a reply is almost exactly the same as a regular comment.  Unless perhaps a reply must reference the same part of the code, which doesn't seem great.

[2013-02-05 15:39] spratt commented on #24
@psimonyi you should chime in on this as our HCI expert.

[2013-02-05 15:41] spratt commented on #25
I think we settled on switching to Ace, and the switch is partially implemented.  At the very least, we're importing Ace in the front end, but I think we're still using CodeMirror.

[2013-02-05 15:43] spratt commented on #28
This was resolved.  See wiki.

[2013-02-05 15:43] #28 closed, assigned to bheesham

[2013-02-05 15:46] spratt commented on #30
It's hard to justify this except to imagine that people might be collaborating very closely and would appreciate faster turnaround time.  I feel like this might be implemented easier as an option to poll for new comments every few minutes.

We should really figure out if this is worthwhile before spending time making this happen.

[2013-02-05 15:48] spratt commented on #31
I think @cdelahousse was mentioning Apache bench https://httpd.apache.org/docs/2.2/programs/ab.html running on any computers we can get ahold of, or some ec2 instances.

[2013-02-05 15:50] spratt commented on #33
If we're using requirejs http://www.requirejs.org/ it comes with a tool to optimize load time called r http://www.requirejs.org/docs/optimization.html which bundles together related scripts (since it knows about the relationship between scripts) using uglifyjs or closure, and inlines CSS.

[2013-02-05 15:53] spratt commented on #34
Alright, so right now information on languages is split and duplicated on the front end and backend.  See src/server/languageList.js and src/client/languages.json.  We should really put all the languageList.js information into the languages.json file and remove all the languages information from the back end.  We've already eliminated the languages table in the db.

[2013-02-05 15:54] spratt commented on #35
I think we should pull out related functionality into modules and switch to a requireJS style of combining them.

[2013-02-05 15:59] spratt commented on #38
Why not just use a tinyurl service for now?  It should be simple enough to send one of our urls off to such a service, then display the result.

[2013-02-05 16:38] spratt commented on #40
Peter had the idea of vertical lines alongside the code indicating comments on the sections of the code next to the lines.

![Code_Review1](https://f.cloud.github.com/assets/80992/128225/683dcc0a-6fb2-11e2-822d-584a7619d09f.png)
![Code_Review2](https://f.cloud.github.com/assets/80992/128226/6841e664-6fb2-11e2-843f-bd5c726f53f2.png)

[2013-02-05 16:39] spratt commented on #39
Peter brought up the good point of: why do we want to verify identity?  My answer was: so users can reserve names.

[2013-02-05 16:40] spratt commented on #39
@psimonyi discuss.

[2013-02-05 16:43] spratt commented on #41
Detailed resolution strategy in this repo: https://github.com/CarletonU-COMP2406-W2013/Steamed-Pears/issues/27

[2013-02-05 16:45] spratt commented on #43
I don't think we need to even scrape anything.  I think github gives blob (plain text) access to files.  Not sure about gists, but I know every file in a github repo has a blob url.

[2013-02-05 16:46] spratt commented on #36
Since we may be switching to Ace, I'm going to unassign myself and put this on the backburner until the dust has settled.

[2013-02-05 16:52] spratt commented on #8
I have been informed that there are 5 outstanding issues to be imported.  I'm reopening this.

[2013-02-05 17:03] spratt opened #45 "Production Deployment"
Need to figure out how to easily deploy new versions of the app to the production server.  Ideally this should be as automated as possible.

[2013-02-06 02:55] bheesham commented on #45
I think that the scripts you prepared would do fine. Something along those lines.

[2013-02-06 02:56] bheesham commented on #43
Simon and I were talking about this. Github, and Bitbucket surely have some API. Otherwise, we can (hopefully) use the method Simon suggested above. We were talking about this on our way to CUSEC.

[2013-02-06 02:59] bheesham commented on #39
We should also verify identity for the not-so-public code review projects.

So, someone wants to code review a private repo on Github? Have them log in, and manage that "code review project" from some panel.

For now, I don't really see us needing it. For now, open source projects are good enough. But I think we should build with this in mind.

[2013-02-06 03:00] bheesham commented on #40
Yeah, the minimap doesn't seem like such a good idea with the new proposal for the layout.
I do like the idea of the colour-coded lines.

But as someone brought up in the email, what about colour blind people? Unless we consider them an edge case we don't have to worry too much about.

[2013-02-06 03:03] bheesham commented on #37
Don't **really** want to implement this, unless ACE has the power to do it. I don't think as a reviewing app, we would have to worry about the language, so much as the reviewing part. I would like the ability to change the syntax highlighting though.

So, lets say that someone incorrectly uploads something as Python, but then someone see's and decides to change it to CofeeScript, because the synta

[2013-02-06 03:07] psimonyi commented on #37
On Tue, 2013-02-05 at 19:03 -0800, Bheesham Persaud wrote:

Having the option to override the poster's highlighting choice seems
like a good idea, but good defaults are the hallmark of a good app.
Also, this problem has been solved elsewhere, e.g. in vim. We should
just look to see who else does language detection.

[2013-02-06 03:09] psimonyi commented on #19
... what kind of code are you reviewing that this would matter for?

[2013-02-06 03:13] psimonyi commented on #21
Indeed, as a user you have to trust whoever provides the crypto code --
and anybody whose code is running on that page for any other reason,
too. I think hard-to-guess URLs solve the privacy problem for most
practical purposes.

[2013-02-06 03:15] psimonyi commented on #22
I like the way GitHub and vim do it: line-by-line diffs, but within each
line do a character-by-character diff for darker diff colouring.

[2013-02-06 03:20] psimonyi commented on #28
Man, now what am I going to do with all this bikeshed paint?

[2013-02-06 03:25] psimonyi commented on #31
I have access to some servers in Waterloo we could use.

[2013-02-06 03:38] psimonyi commented on #43
http://developer.github.com/v3/gists/#get-a-single-gist

[2013-02-06 03:43] psimonyi commented on #39
I like the idea of optional logging in. @cdelahousse was pointing out that a key advantage of CodeReview is the low entry barrier, because you don't have to log in, so optional is good.

Also, Mozilla Persona doesn't require an extra trip to our server the way OpenID does.

[2013-02-06 04:00] spratt commented on #45
I like using nginx to serve the static files, and webfaction requires the static files to be in a different directory.  Also, production will be using mysql or postgres.

[2013-02-06 04:59] cdelahousse commented on #33
Do we know how requirejs' optimzation script works with the rest of the front end js? Uglify runs in the command line, so why don't we just have a custom build script that minifies everything for us and outputs the site in a format ready for production? Make files rule.

[2013-02-06 05:01] spratt commented on #33
requireJS should be taking advantage of the fact that it knows how the modules relate to one another.  r.js runs from the command line, so it's not mutually exclusive with a "custom build script."

[2013-02-06 05:12] cdelahousse commented on #45
What'll be the process to deploy? Can anybody to it? When is does the build get to a deployable state?

[2013-02-06 05:14] cdelahousse commented on #43
Sexy, I love this idea.

[2013-02-06 05:16] psimonyi commented on #43
I guess we would import the gist and maybe have a link back to the source. I'm working under the assumption that CodeReview snippets are immutable.

[2013-02-06 05:30] cdelahousse commented on #8
My bad. I jumped the gun. I was super excited to close the issue.

I'll transfer the last few manually.

[2013-02-06 05:53] psimonyi commented on #8
@cdelahousse: Now you get to close it twice!

[2013-02-06 06:17] cdelahousse opened #47 "Search for new Syntax Highlighter"
Original: https://github.com/SteamedPears/CodeReviewClientMaster/issues/68

Code Mirror causes a lot of issues. In this project, most of the time we work with the library, we're working against instead of with it.

We no longer need syntax highlighting WHILE editing, although that feature would be a nice to have. That feature was the reason we originally chose Code Mirror.

[2013-02-06 06:18] cdelahousse commented on #47
From @gankro
Github uses Ace: http://ace.ajax.org/

Seems really robust. Also doesn't even flinch at jquery.js

[2013-02-06 06:19] cdelahousse commented on #47
It looks like we've decided to switch to Ace. I'm closing this issue.

[2013-02-06 06:22] cdelahousse commented on #47
Reading through the other issues, it seems as if this hasn't been decided. I'm reopening the issue.

[2013-02-06 06:28] cdelahousse commented on #8
Done. All issues but one have been transferred.

Here's the last one. I'm not transferring it.
https://github.com/SteamedPears/CodeReviewClientMaster/issues/62

[2013-02-06 06:28] #8 closed, assigned to cdelahousse

[2013-02-06 13:06] bheesham commented on #47
No no, we're switching to Ace. Code Mirror is just so slow, and a little hard to work with, but I think that's just because we weren't working with the JS, but rather the HTML output.

[2013-02-06 13:10] bheesham commented on #43
I don't think we should really focus on Gists, and Github repos right now.
The main reason being, I would want to integrate with more than just Github, and do more than just public repos.

We should instead create the app, where we can add "vendors"? Vendors being different git repository hosting providers, such as Bitbucket.

I think I mentioned this in one of the issues, and definitely on the wa

[2013-02-06 13:12] bheesham commented on #39
Does Mozilla Persona work with different browsers?

[2013-02-06 13:13] bheesham commented on #38
I think we should consider using goo.gl, or bit.ly.
That way we have access to tracking data, which we may be able to show to the user that created the link, which would be nice. Or develop something for this project specifically, which won't be too hard.

[2013-02-06 13:16] bheesham commented on #21
We should have different options for "private" pastes.
- Encrypted
- Captcha
- Others?

[2013-02-06 13:59] cdelahousse commented on #43
I could see us having one bookmarklet as a gateway. it would detect the vendor via it's URL and then async load the vendor specific JS.

If we start adding vendors, though, it'll be harder to develop. I really like the idea of a bookmarklet, though. Why don't we start with something simple, like scraping content from a page a la readability/instapaper/pocket/readitlater. That shouldn't be too hard

[2013-02-06 14:25] cdelahousse opened #48 "Internationalization and localization (i18n)"
We should consider internationalizing Code Review. Many peeps don't speak english.

[2013-02-06 14:26] cdelahousse commented on #48
http://ejohn.org/blog/a-strategy-for-i18n-and-node/
http://ejohn.org/blog/i18n-module-for-node-and-express-js/

[2013-02-06 14:48] cdelahousse opened #49 "Simple sharing box/button/area"
We're trying to limit all barriers of use. If we made a particular codereview document easy to share, a user could get it to different a person more easily.

My idea is to have a sharing tab/box/button on the document's page. With less that 2-3 clicks, a user should be able to share the doc one of a variety of ways.

I think youtube does this super well with their "share" tab (see http://www.youtu

[2013-02-06 18:39] psimonyi commented on #39
Yes, it works in basically everything after IE7.
https://developer.mozilla.org/en-US/docs/Persona/Browser_compatibility

[2013-02-06 18:56] psimonyi commented on #48
One thing I often do is put localizable text in double quotes, and other
text in singles. I figure that way, I don't have to do much to find them
when I eventually put in a localization library.

[2013-02-06 19:00] spratt commented on #48
I don't think we have a lot of text.  I like simple interfaces.  That said, I have no idea what text isn't localizable.  Obviously we wouldn't want to localize our brand, so CodeReview should be CodeReview everywhere.  But all the other text is just interface.

[2013-02-06 19:09] spratt commented on #48
Since node isn't serving any of the interface, the node internationalization libraries won't help.  We would want something client side to pull down the appropriate text for the chosen language.

[2013-02-06 19:12] spratt commented on #48
It should be easy enough to store the text in a json file like [{"en":"Submit","fr":"Submissez",...},{"en":"Code goes here","fr":"Code va içi",...},...]

Then we could load in the json file, and write the string to the dom.

[2013-02-06 21:14] spratt commented on #47
Alright.  We're switching to Ace unless we discover something wrong with Ace.  I'm closing this issue and opening a new one to switch to Ace.

[2013-02-06 21:14] #47 closed, assigned to nobody

[2013-02-06 21:18] spratt commented on #39
I would be happy with Persona.  Mainly what I'm looking for is the simplest implementation of letting users verify their identity if they want to.  Ideally without making them create another login, and ideally without storing any identifying information on our server.

[2013-02-06 21:19] spratt commented on #39
I really like the ideas immediately presented on the Persona page: https://developer.mozilla.org/en-US/docs/Persona

[2013-02-06 21:24] cdelahousse commented on #39
What about facebook integration to log in?
On Feb 6, 2013 4:19 PM, "Simon David Pratt" notifications@github.com
wrote:

[2013-02-06 21:29] spratt opened #50 "Architecture diagrams"
We said we'd have architecture diagrams ready for this tutorial.  I'm thinking something very high level, simply describing the basic interaction between client and server, and what libraries each will use.

I'll do up a quick thing of what I'm thinking, submit it here and we can discuss.

[2013-02-06 21:49] spratt commented on #50
![Code_Review_arch](https://f.cloud.github.com/assets/80992/133339/06da765c-70a7-11e2-8da9-65abe76526c3.png)

[2013-02-06 21:51] spratt opened #51 "Choose an issue to work on for Sprint 1"
Make sure to assign it to the Sprint 1 milestone

@bheesham @cdelahousse @psimonyi @spratt

[2013-02-06 22:03] spratt commented on #50
Added bookmarklet client
![Code_Review_arch2](https://f.cloud.github.com/assets/80992/133378/f0cf2c98-70a8-11e2-8319-0398f33882f2.png)

[2013-02-06 23:00] spratt commented on #50
I've also created this description of the server API: https://github.com/CarletonU-COMP2406-W2013/Steamed-Pears/wiki/Server-API

Let me know where it can be improved.

[2013-02-07 01:40] bheesham commented on #49
I think we could have the share URL's somewhere at the top, for every repo. So all you'd need to do is click + ctrl+c.
I'm hoping that there's a js library for writing to the clipboard.

[2013-02-07 01:42] bheesham commented on #48
Separate the languages by files.

You could have a attribute tag called "data-i18n", which points to the language key. But that brings up the problem of if they don't have JS enabled. And if they don't, the textarea will look stupid, and nothing would have text. Is that something we'd want to worry about?

[2013-02-07 01:56] psimonyi commented on #48
I'm pretty sure our application is totally unusable without JavaScript.
If that is the case, then it doesn't matter. (Or we should work on
fixing that; either one.)

[2013-02-07 02:53] spratt commented on #49
@bheesham A bar at the top of the browser window with the url in it?  I think we already have that.

[2013-02-07 02:56] spratt commented on #39
w.r.t. facebook: I wouldn't implement it myself, but I don't see a compelling reason to argue against it.

[2013-02-07 02:57] spratt commented on #48
For now, let's require javascript.  Otherwise would require generating pages on the backend, which is something I'd really like to avoid.

[2013-02-07 04:35] psimonyi commented on #6
Sure, I like wikis. Significant design decisions probably deserve to be in the repository, either in their own files or in block comments.

[2013-02-07 11:53] bheesham commented on #48
Heh, then I guess we could add the text after.

[2013-02-07 11:57] bheesham commented on #39
I'd rather not use Facebook. Facebook is more... social. Co-workers may not necessarily want to add each other to Facebook.

[2013-02-07 12:03] bheesham commented on #51
Hmmmm. I'd like to tackle the sharing URL.

[2013-02-07 12:04] bheesham commented on #51
I feel as though I'd learn more from doing work on the back-end.

[2013-02-07 12:20] bheesham commented on #49
Heh, no. I meant a shorter one.

We could register a short domain (cdrvw.com, cdrw.me, etc) and use bit.ly. With bit.ly, we can create URL's on the go, we just have to authenticate using oauth, to access the account.

So, yeah, we can have the long GUID. Or we can use bit.ly, and have a really short url. Or improve our ID system.

[2013-02-07 12:32] cdelahousse commented on #39
Its just another option to let people log in. I agree with what you're
saying, but fb log ins would lower the barrier of entry for a lot of
people. Stack overflow uses fob.
On Feb 7, 2013 6:57 AM, "Bheesham Persaud" notifications@github.com wrote:

[2013-02-07 13:02] bheesham commented on #39
How would it lower the barrier of entry for people?

Shawn Ellis didn't enable his Facebook up until we created a fake account.
My old roommate Eric didn't enable his Facebook until maybe near the end of the year (first year).

You can't count on people having Facebook. What you can count on, is them having an email, and a modern web browser.

[2013-02-07 13:03] bheesham commented on #39
Seeing as how you would need an email address, and a modern web browser to even register for Facebook.

[2013-02-07 13:07] bheesham commented on #43
Yeah, bookmarklet's are cool and all, but not for someone who doesn't have a bookmark bar. http://prntscr.com/rv6xg

And as for the vendor thing, I'd rather someone not copy and paste each file they want reviewed. It'd be nice to have a file-file associations. Something that could be used to write better unit tests, or troubleshoot something between two PHP files where one includes the other. I th

[2013-02-07 13:21] cdelahousse commented on #39
I'm not implying that we should have it as the only log in method. Its j st
good to have it as an option for those who are comfy logging via FB. I use
that feature all the time on a ton of sites.

Some people don't use fb. Yes. They'll be catered to, also

This is not a big deal. I don't' care that much. Its just that fob
integration does not remove value but adds some for many.
On Feb 7, 2013 8:0

[2013-02-07 13:29] cdelahousse opened #52 "Graceful degradation"
Low priority.

What to do if some does not have JS or CSS enabled?

[2013-02-07 13:31] cdelahousse commented on #52
Right now, I think that  this is an edge case that we don't need to worry about.

[2013-02-07 13:32] cdelahousse commented on #51
Bookmarklet

[2013-02-07 13:43] bheesham commented on #52
[code]

Then on page load, remove the hidden class from the main-container.

EDIT: Apparently Github allows HTML in comments.

[2013-02-07 13:47] bheesham commented on #49
If you still disagree, please send me a file to review, via Twitter.

I know Twitter does the whole t.co thing, but ignore that for a little bit. There are other social networks out there. Long URL's don't really look appealing, especially if they don't have words.

[2013-02-07 14:40] cdelahousse commented on #52
Yeah. For now, that should do.

Do we eventually want to expand on the js-less experience?

[2013-02-07 15:04] bheesham commented on #52
Well... unless we want to go back to when we used radio's to select lines... no.

[2013-02-07 15:05] bheesham commented on #52
I'm sure there would be a really nice way to do it, but for now, I don't think that we **need** it.

[2013-02-07 15:13] cdelahousse commented on #52
How about if we give up functionality? No js mode would be read only.

On Feb 7, 2013 10:05 AM, "Bheesham Persaud" notifications@github.com
wrote:

[2013-02-07 15:58] spratt commented on #51
@bheesham The back end needs some cleaning up for sure.  If what you want to do doesn't have an issue, make one and assign it to yourself.  If you have assigned yourself an issue, make sure to add it to the Sprint 1 milestone.

[2013-02-07 16:04] spratt commented on #52
We also give up elegance of our architecture.  Right now there's no UI code in our back end, but if we made a js-less version, we would have to generate the HTML in the backend.

[2013-02-07 16:09] spratt commented on #50
I'm guessing this is good enough?

@psimonyi mentioned that the bookmarklet might contact the web client, which would actually make a lot of sense.  If it would dump the scraped text into the input text box for a final review, that might be awesome.

@cdelahousse do you have any libraries you're thinking of using for the bookmarklet tool?  If so, let's add them.

[2013-02-07 16:34] cdelahousse commented on #52
Which would be a bitch...
 On Feb 7, 2013 11:04 AM, "Simon David Pratt" notifications@github.com
wrote:

[2013-02-07 16:37] cdelahousse commented on #50
Maybe require or some other asyc loading library

[2013-02-07 16:47] cdelahousse commented on #50
@psimonyi good idea. I'll have it as an option. Well need to implement something on the front or back end because I don't know if there's a way to populate a text field via a request on the front end without some code

[2013-02-07 17:01] spratt commented on #50
If you pass it in as a parameter like index.html?text="blah blah blah" then we can use javascript to grab the text and populate the field.

[2013-02-07 17:16] cdelahousse commented on #50
That's exactly what I was thinking. Isn't there via limit on the size of
get request args though,?
On Feb 7, 2013 12:01 PM, "Simon David Pratt" notifications@github.com
wrote:

[2013-02-07 17:17] cdelahousse commented on #50
Whoop. We shouldn't use this issue to talk about the bookmarklet
On Feb 7, 2013 12:16 PM, "Christian Delahousse" <
christian.delahousse@gmail.com> wrote:

[2013-02-07 17:28] spratt commented on #50
It is part of the architecture.  Should I change the diagram?  If so, how?

[2013-02-07 22:01] spratt commented on #6
We've decided to document the design decisions and public APIs as specified in https://github.com/CarletonU-COMP2406-W2013/Steamed-Pears/wiki/Server-API

[2013-02-07 22:01] #6 closed, assigned to nobody

[2013-02-07 22:03] spratt commented on #51
@bheesham will be working on shortened/share URLs #49 , @cdelahousse will be working on the bookmarklet #43 , @psimonyi will be working on Persona integration #39 , and I will be working on cleaning up the code base #35

[2013-02-07 22:03] #51 closed, assigned to nobody

[2013-02-07 22:39] spratt commented on #50
This will be our architecture for Sprint 1.

![Code_Review_arch3](https://f.cloud.github.com/assets/80992/137656/3e70b0ce-7177-11e2-904d-c4072590a9ab.png)

[2013-02-07 22:39] #50 closed, assigned to spratt

[2013-02-07 23:05] psimonyi commented on #39
This bug is now "Persona Integration". Make a new issue for Facebook or other possible identity authorities.

[2013-02-08 02:39] psimonyi commented on #29
Depends on #39

[2013-02-08 03:01] psimonyi commented on #48
@spratt It isn't obvious that we wouldn't want to localize our brand. It may have unfortunate associations in other languages, or be terribly unpronounceable, etc. Or it might just look better slightly translated: fr.wikipedia.org is Wikipédia. I don't think we should dismiss brand translation so lightly if we're considering translating other stuff.

[2013-02-08 03:08] psimonyi commented on #21
@bheesham, what use cases are you thinking of? Let's list why someone would want especially private code; we have to know what the threat is before we can defend against it. (Remember that right now, you have to know the URL to get at the code anyway; it's not public.)

[2013-02-08 20:27] psimonyi opened #53 "Let's have a nice design"

[2013-02-09 00:06] spratt commented on #53
Ideally clean and minimalistic.  Interface clutter is a barrier to entry.

[2013-02-19 01:09] spratt opened #57 "Stop tracking other peoples' code"
Most of the code in the repo is library code on the client-side.  We should really use something so we stop tracking other peoples' code.

[2013-02-19 01:39] spratt commented on #35
Closed by 0715734b90bb9903718f194a4f8930f334f634ef

[2013-02-19 01:39] #35 closed, assigned to spratt

[2013-02-19 01:40] spratt commented on #34
Closed by 0715734b90bb9903718f194a4f8930f334f634ef

[2013-02-19 01:40] #34 closed, assigned to spratt

[2013-02-19 01:41] spratt commented on #26
This doesn't seem to be an issue any more.

[2013-02-19 01:41] #26 closed, assigned to nobody

[2013-02-19 01:42] spratt commented on #25
Backend now stores lines in 0-index.

[2013-02-19 01:42] #25 closed, assigned to spratt

[2013-02-19 01:44] spratt commented on #20
Closing because these are separate issues.

[2013-02-19 01:44] #20 closed, assigned to nobody

[2013-02-19 17:19] cdelahousse commented on #57
Agreed! I've been learning about them here.

http://git-scm.com/book/en/Git-Tools-Submodules

They sound swell.

[2013-02-19 19:34] spratt commented on #41
The front end now loads comment counts from the comment model, then only loads comments on a particular line when the button is pressed.  All that's left is implementing this in the backend and setting the front end up to take advantage of it.

[2013-02-19 19:43] spratt commented on #36
At this point, github flavored markdown is completely broken.  It's not clear why.

[2013-02-19 19:52] spratt commented on #19
New lines are an important part of code formatting.  I suspect that this bug actually means to standardize on newline characters to mark newlines, which is fair.

[2013-02-19 22:42] cdelahousse opened #58 "/do/newcode -> Header: Access-Control-Allow-Origin: *"
I need this http header so that the bookmarklet can submit stuff to CR.

[2013-02-19 22:59] spratt commented on #58
Cool.  I'm assigning this to you.

[2013-02-20 03:42] bheesham commented on #19
Yeah, I remember talking about this. Silly bug.

[2013-02-21 21:29] spratt opened #62 "Modeline before html tag puts IE in quirks mode"
See discussion at https://github.com/CarletonU-COMP2406-W2013/Steamed-Pears/commit/eb561aeebd3ab0dd7824704ba58e12d77ed66007#commitcomment-2669648

[2013-02-22 00:22] bheesham commented on #62
Also, not setting the doctype will put some browsers into quirks mode for those who didn't read the discussion.

So, modeline after doctype.

[2013-02-22 00:29] cdelahousse commented on #62
Vim modelines DO NOT need to be near the top. They can be near the bottom too.

http://vim.wikia.com/wiki/Modeline_magic

Just an FYI.

[2013-02-22 01:00] spratt commented on #58
Closed by pull request #63

[2013-02-22 01:00] #58 closed, assigned to cdelahousse

[2013-02-22 01:37] bheesham opened #64 "Production server deploy scripts"
I'll be working on getting this to work on a production server, since I can't code on my netbook, or get it working through Windows.

Great. Great great great.

[2013-02-22 01:57] bheesham commented on #64
Seems as though all you need to do is change the location of the executables, and add one for the location of NPM.
That, and configure NPM.

Instructions to come.

[2013-02-23 05:11] psimonyi commented on #19
Normalizing all line breaks seems like a good idea.

[2013-02-23 21:03] psimonyi commented on #62
Oh, cool. I thought they had to be at the top. Maybe the bottom is better...

[2013-02-23 21:48] psimonyi commented on #57
I don't like tracking other people's code, but git modules seem less than ideal. There seem to be a lot of pitfalls, and it seems to be intended for submodules maintained by the same people that own the main repo, rather than for using releases of other people's code. If there's no better way, then let's go for it, but if there's an alternative that still avoids tracking others' code, I'd like to

[2013-02-23 22:53] bheesham commented on #62
[Yes, the bottom is better.](http://www.hiyoooo.com/)

[2013-02-23 22:55] spratt commented on #62
Cool.  I will leave it to you guys to handle this.

I haven't yet found an equivalent to vim modelines in emacs.  There's a thing called the modeline, but it is a part of the UI that displays (among other things) what mode the editor is in.

[2013-02-24 01:28] psimonyi commented on #62
On Sat, 2013-02-23 at 14:55 -0800, Simon David Pratt wrote:

[2013-02-24 01:35] psimonyi commented on #62
This is mostly needed because of using tabs... is it bad form to bring
that up? 'Cause I'd like to revisit the decision...
http://www.jwz.org/doc/tabs-vs-spaces.html

[2013-02-24 20:19] cdelahousse opened #66 "Entry/Code expiration"
I was checking out Pastebin for ideas. On their front page, they have a expiration setting that allows a user to set a time in the future when the code snippet gets taken offline.

Sounds like a good idea.

[2013-02-24 22:37] bheesham commented on #66
Yeah, I was thinking about that. It's pretty nice, because we can have a default of a month or so.
I don't think it should expire X days after creation. It should expire X days after the last activity. That gives people more time to do stuff.

[2013-02-24 22:56] bheesham opened #67 "Reorganize the back-end"
We should reorganize the back-end. For a simple web-app, it's "fine". But for something that we'd want to scale, not so much.

We should have a meeting at some point.

Since we're going to be reorganizing the back-end, we might find a better way to write our public API, so @cdelahousse and @psimonyi will have to be kept in the loop.

@spratt

[2013-02-26 04:41] bheesham commented on #67
@spratt , check out my fork in the `restructure` branch.

The structure we have in place, is what I'd like to see happens.
I don't mind if it changes a lot, I just care about it staying organized.

[2013-02-26 06:01] bheesham opened #68 "Licensing"
I see in `packages.json`` we've licensed the software under the ISC License?
Is this going to be open source?

Also, if any of the libraries that we use are GPL, what does that mean for our source?

[2013-02-26 06:02] psimonyi commented on #68
Oh, man. GPL with interpreted code is not pretty.

[2013-02-28 05:07] spratt commented on #57
We discussed this and determined the proper course of action is to pull down and build the projects we need in the install scripts.

[2013-02-28 05:08] spratt commented on #62
We resolved this, determined that emacs and vim can have modeline-like things and tabs suck.

[2013-02-28 05:12] spratt commented on #68
GPL sucks.  ISC is what the front end has been since Alexis started working on it.  When we merged the repos, we decided to make the back end also ISC licensed.

We should check if we have any GPL code.  If so, we should ditch the GPL code so we're not violating the GPL.

[2013-02-28 05:59] psimonyi commented on #68
The problem with the GPL is that it's written in terms of compiled code and static linking. As I recall, the FSF claims that dynamically linking GPL code requires everything to be GPL, which seems to be a generally accepted view, and also that interpreted languages calling stuff is basically the same as dynamic linking. Thus, the FSF wants any code that uses GPL-covered code to be GPL. It's not en

[2013-02-28 06:01] psimonyi commented on #68
GPLv3 might have cleared this up; I haven't actually read it.

[2013-02-28 06:33] bheesham commented on #68
[code]

[2013-02-28 15:36] spratt opened #69 "We need to pick our tasks for Sprint 2"
Reply to this issue with your task for next week, and reference the issue number.  Try to be realistic about how much you can finish in a week.  Add your issue to the Sprint 2 milestone.  Assign the issue to yourself.

@bheesham @cdelahousse @psimonyi

[2013-02-28 15:41] spratt commented on #69
I'll work on #57

[2013-02-28 22:29] bheesham commented on #69
I'll work on #67

[2013-02-28 22:35] psimonyi commented on #69
I'll work on #53.

[2013-03-01 14:15] bheesham commented on #67
@spratt @psimonyi @cdelahousse Checkout the `restructure` branch on my fork, give feedback.

[2013-03-01 18:09] cdelahousse opened #70 "Let's have the bookmarklet have a nice design"
Like #53, but for the bookmarket.

[2013-03-01 18:11] cdelahousse commented on #69
#70, I work on.

[2013-03-01 18:11] #69 closed, assigned to cdelahousse

[2013-03-01 19:11] spratt commented on #67
My biggest question without access to my laptop is: does it still run?

Other questions:
- Why _init.js?  Is it a common pattern?

Observations:
- Looks much cleaner.
- I like the pattern of code inside of a require statement.  This is a really nice way of exposing components only to the libraries they need.
- Much of the code you've added is indented with tabs.  D:

[2013-03-01 21:06] bheesham commented on #67
It runs, just not completely re-written, so a lot of things are missing.

_init.js so as to differentiate what initializes classes from the actual classes.
- Thanks
- Yep, but I think Node does that for you anyways if it's in a module on it's own
- Sorry, blame my `.vimrc`

[2013-03-01 23:10] cdelahousse commented on #67
I've cloned your fork at commit 800b5bca05d80155cf6ebfffdaf9528aa990ff20. It breaks the bin/start_script.sh script.

db_info.js.sqlite, build_db.js, test_data.js are missing.

I can't comment on your repo. I'm starting to agree with Peter that Github sucks.

[2013-03-01 23:14] psimonyi commented on #67
Simon says the start script starts node on index.js, but now it should use _init.js, so that's probably why it doesn't work.

[2013-03-01 23:30] cdelahousse commented on #67
My stupidity knows no bounds. I forgot this was a "work in progress". I was going through your code thinking "where did everything go?" Sigh.

Forget my last comment.

Good job. It looks really nice. Really clean. I like how you've broken down the server into a couple of "classes" with "subclasses". Super easy to extend.

[2013-03-01 23:33] cdelahousse commented on #67
Here's a kitty:
![Kitty](http://img0.etsystatic.com/000/0/5280812/il_570xN.340900784.jpg)

[2013-03-01 23:37] cdelahousse commented on #67
I'm not a fan of your DB defaults. We'll probably be cloning repos to dev machines so SQLITE would be a better choice. The only installation that'll use MySQL is the production machine.

[2013-03-01 23:58] cdelahousse commented on #68
What have we decided about this? What should be placing up top of my code? ISC?

[2013-03-02 00:06] psimonyi commented on #68
How about this:

[code]

[2013-03-02 00:13] cdelahousse commented on #62
@psimonyi I've updated the modeline. tabwidth=8 was not a valid setting.

[2013-03-02 00:17] cdelahousse commented on #62
Can we close this? Why did @psimonyi reopen the issue? Are we waiting for @spratt to come up with his own File Variables?

[2013-03-02 00:20] cdelahousse commented on #68
I like that. Simple, minimalist and we won't need to modify it if our license changes.

[2013-03-02 08:58] psimonyi commented on #62
The bug is "Modeline before html tag puts IE in quirks mode". The resolution is a code change, e.g. #71.

[2013-03-02 17:37] #62 closed, assigned to nobody

[2013-03-03 18:13] spratt commented on #68
That looks good.

[2013-03-04 00:33] bheesham commented on #67
Yep, you can change that all in the db.ini file. So if you set them to blank, it'll work just fine (or should) with sqlite.

[2013-03-04 00:34] bheesham commented on #67
Also, do not try to run it using the scripts. You'll have to do `node app.js` to run it.
I have not yet modified the scripts in `bin/` to work with the new setup.

[2013-03-04 01:36] cdelahousse opened #72 "Can we use Connect.js?"
I'd really like us to convert to connect.

1) it gives us a lot of tools we'll need in the future.
2) Better session management, form parsers, better request handling, etc (via object extensions)
3) A baked in static file server.
4) it's very lightweight.
5) a plugin architecture so that you can hook in anything into request.

It's well built and widely used.

Please peruse the API:
http://www.sen

[2013-03-04 01:38] cdelahousse commented on #72
Here's a list of great plugins that are designed to work with connect:
https://github.com/senchalabs/connect/wiki

[2013-03-04 02:12] spratt commented on #72
Didn't you already implement responding to the preflight request?  In #58 ?  And #63 ?

[2013-03-04 02:18] spratt commented on #72
I don't hate Express in particular.  I'd like to hear what @bheesham and @psimonyi think about using Connect or Express.

[2013-03-04 02:22] spratt commented on #57
So I would like to have our install script pull down the sources for jQuery, CodeMirror, URI.js, require.js, and any other libraries we end up using on the client-side.  Does anyone know of a nice system for doing this?  Or should I roll a basic package manager using wget?  @cdelahousse @bheesham @psimonyi

[2013-03-04 02:43] cdelahousse commented on #57
Look into Yeoman, or more specifically, Bower (http://twitter.github.com/bower/). It's supposed to be a package manager for web apps.

If not, why not just do a series of git clones?

[2013-03-04 02:46] spratt commented on #57
In the cases of CodeMirror and URI.js, git cloning would work.  But we don't use the result of simply cloning the jquery and require.js repositories, we use some kind of built product.

[2013-03-04 02:50] cdelahousse commented on #72
#58 and #63 solved half of the problem. I just fixed the rest about 15 minutes ago, but it is a gross hack. One you'll see in tonight's pull request.

[2013-03-04 03:04] spratt commented on #72
Can you be more specific about exactly what the server needs to do?

[2013-03-04 03:49] cdelahousse commented on #72
The server needs to respond to a preflight HTTP request using the OPTIONS method. The server's response should include a few headers allowing more CORS request. After that, both the client (bookmarklet) and the server (CR) can send CORS requests without needing to do more.

My issue is that if we want to catch requests with the OPTIONS method, we need to explicitly do it in every request handler.

[2013-03-04 03:51] cdelahousse commented on #67
I'm a bigger fan of using `node app.js` anyways.

[2013-03-04 03:54] spratt commented on #72
What headers exactly?  Can you point me to the connect.js middleware that would make this easy?  Would it replace our current router?

I don't think we should accept cross domain requests to anything except /do/newcode, which as far as I understand is what you implemented before.

[2013-03-04 03:57] spratt commented on #67
You prefer running `node app.js` to running the shell scripts that set up your modules and database and then calls `node app.js`?

[2013-03-04 05:08] cdelahousse commented on #67
Yes. I love scripts to set up a project, but I don't like them starting the app. I d rather the output go to the console and use something like node watch instead of node.

[2013-03-04 05:24] cdelahousse commented on #72
Implementing CORS would be something along the lines of:

[code]

It would not replace our router.

Besides implementing CORS, I'd like to hear what you thing about using Connect JS in general. I see it being an asset down the line, like when we implement authentication or need to work with sessions.

On a personal note, I'd like to learn how to work with a popular Nodejs library. I see connect ev

[2013-03-04 05:35] bheesham commented on #72
`shipping with over 18 bundled middleware`
First thoughts: not really discussion encouraging.

For logging, I was looking at [Riemann](http://riemann.io/dashboard.html). It looks great, and simple to setup. It does require a bit more work to do so, but we'd be able to make a pretty damn nice back-end. And by bacn-end, I mean something along the lines of an administrator's interface. It's not ideal

[2013-03-04 05:36] bheesham commented on #72
Use what you need, if I cringe at any code I'll write you a strongly worded letter.

[2013-03-04 05:37] bheesham opened #74 "Administrator's interface"
I think it'd be nice to have a non-cmd administrator's interface. For, you know. The people who don't want to live in the command line.

[2013-03-04 06:12] spratt commented on #67
Anything you can do from your command line, we can do from the script and we are guaranteed to start in the same state which is useful for testing.

I also like the script because it encapsulates how the environment should be started, so you don't have to remember that to start the server you run `node app.js` in the /src/server folder.

[2013-03-04 06:16] spratt commented on #72
@cdelahousse that code looks like you could run it with the regular router as the next callback.  Also, it looks like it handles OPTIONS for every request URI, which I think is a bad idea.  I think we should only allow CORS for /do/newcode, in which case we only need to add these headers to the newcode request handler.

[2013-03-04 06:59] bheesham commented on #67
I agree with Simon. I don't like the idea of having to navigate to src/server to start the server. We have a bin/ folder, we should use it.

[2013-03-04 22:48] psimonyi commented on #67
Ideally, the script would use a NODE environment variable, if it's
defined, instead of "node" -- so you can do
$ NODE="node watch" bin/start_dev.sh

[2013-03-05 04:01] psimonyi commented on #72
I don't see why we shouldn't use Connect if there's something someone wants to use it for. It seems like a bunch of tools, some of which would be handy and some not. It doesn't seem that it will have an impact on unrelated parts of the code.

[2013-03-05 04:42] bheesham commented on #72
Yep, @cdelahousse , @spratt  and I talked about this today. We decided that it was cool to use it.

[2013-03-05 05:39] psimonyi commented on #72
The answer to the question is "yes", so I guess this is closed. (Converting existing code to take advantage of Connect.js would be another bug.)

[2013-03-05 05:39] #72 closed, assigned to nobody

[2013-03-05 05:50] psimonyi commented on #57
Since this should all be handled by a script, we don't need a nice package-manager interface -- all that package management would get us is dependency resolution (not really useful) and automatic building (potentially useful). So if you can find a package manager that will do building stuff automatically, let's try it; otherwise, wget is probably less work and less code. In the case of jQuery, it'

[2013-03-05 18:48] spratt commented on #57
The package manager also gives us that if the URL changes, it's the package manager's responsibility to know about it, we don't have to update our scripts.

[2013-03-06 01:17] psimonyi commented on #57
In the case of bower, it seems you give it URLs except for the really popular stuff, so that's probably not really an advantage for bower. But yes, if there's a package manager that does what we need, let's use it.

[2013-03-08 02:10] psimonyi opened #75 "Fix all our tabs"
(After Christian's pull request.)

[2013-03-08 05:06] cdelahousse opened #76 "Use linting"
We're not using JSHint as much as we should.

We should also choose some good defaults. For example, there's an option that tells JSHint that some code will run in the browser. This will suppress the error telling us that 'console' has not been defined.

[2013-03-08 22:12] spratt opened #78 "Always try to kill previous pid when starting server"
Basically, fold bin/restart_server.sh into bin/start_server.sh

[2013-03-09 01:13] #57 closed, assigned to spratt

[2013-03-09 21:44] bheesham commented on #78
No objections here.

[2013-03-09 22:09] cdelahousse commented on #78
Yes. Do it.

[2013-03-11 07:17] #75 closed, assigned to nobody

[2013-03-11 21:31] #78 closed, assigned to nobody

[2013-03-13 04:17] psimonyi commented on #76
Try [psimonyi:lint](https://github.com/psimonyi/Steamed-Pears/tree/lint)

[2013-03-13 04:40] psimonyi commented on #68
Is this resolved? I think it is...

[2013-03-14 22:14] psimonyi commented on #68
Conclusions:
- We're using ISC.
- New files should add a licence header; I've added it to the style guide.
- We can definitely use libraries that use ISC/BSD/MIT/Apache kinds of licences. We can't use GPL libraries, and we aren't.
- We are currently using several libraries with BSD and MIT licences, listed by Bhee above.

[2013-03-14 22:14] #68 closed, assigned to nobody

[2013-03-14 22:16] psimonyi opened #81 "Have a way to list the licences our dependencies have."
(low priority)

[2013-03-14 22:18] psimonyi opened #82 "Make existing licence headers use the new short style."

[2013-03-15 03:24] psimonyi commented on #53
Here's the scanned version.
![CodeReviewUI_mockup](https://f.cloud.github.com/assets/1505456/262211/7fa8f8bc-8d1f-11e2-9a21-627b960d60d3.jpg)

[2013-03-15 03:24] #53 closed, assigned to psimonyi

[2013-03-15 12:41] spratt commented on #24
This library does _exactly_ what I wanted to do for the tutorial: http://usablica.github.com/intro.js/

[2013-03-15 12:49] spratt commented on #39
I know this issue has been resolved but it's blocking on issues with the database.  What do we need exactly?  I vaguely remember a conversation about this.  I think we need to add a users table and indicate how the user was verified.  @psimonyi let me know.

[2013-03-15 12:59] spratt commented on #36
Selecting Github Flavored Markdown from the drop down menu gives the folllowing javascript error:

[code]

[2013-03-15 13:01] spratt commented on #36
I have a feeling this broke because we updated our version of CodeMirror and now we're using outdated options.

[2013-03-15 13:17] spratt commented on #24
Another possibility: http://www.zurb.com/playground/jquery-joyride-feature-tour-plugin

[2013-03-15 13:36] cdelahousse commented on #43
I'm marking this as closed because we have a working prototype.

[2013-03-15 13:36] #43 closed, assigned to cdelahousse

[2013-03-15 13:42] cdelahousse commented on #70
I finished my mock design. See a0fbbffc94f19d275c449c49edfedd40c880c47e

[2013-03-15 13:42] #70 closed, assigned to cdelahousse

[2013-03-15 13:44] cdelahousse opened #83 "Choose Sprint 3 goals."
Paging @spratt, @bheesham and @psimonyi .

[2013-03-15 13:46] spratt commented on #70
"delete window.codeReview"?

[2013-03-15 13:50] cdelahousse opened #84 "Give /do/newcode/ the option of not returning a complete Code object"
We don't need the content sent back to us over the wire when add some to the DB. I want to create an option for the API not to send it.

An example of why this would be good is the bookmarklet. We only need confirmation and the uuid returned to the client.

[2013-03-15 13:51] cdelahousse commented on #83
#84.

[2013-03-15 13:53] spratt commented on #84
Actually, I think this is true for the web page too.  The web page already has all the code loaded.

[2013-03-15 13:53] cdelahousse commented on #70
Yes. It deletes prior instances of the bookmarklet.

On 15 March 2013 09:46, Simon David Pratt notifications@github.com wrote:

[2013-03-15 13:54] spratt commented on #70
How is that related to a mock design?

[2013-03-15 13:55] cdelahousse commented on #84
Should the default be content returned or no content returned?

[2013-03-15 13:59] cdelahousse commented on #70
It's the last commit on my bookmarklet branch. I shoulda linked to the branch, no the commit.

[2013-03-15 18:46] psimonyi commented on #84
Given that both of the current users don't need it, not sending it seems
like a good default.

[2013-03-15 19:42] cdelahousse commented on #76
Those settings seem sane.

There doesn't seem to be much difference between the jshintrc files. Couldn't we just have one in the root directory? The problem I see with that would be different dev environment setting. One should be the browser, the other is Node.

[2013-03-16 02:52] psimonyi commented on #39
I basically have a client-side login prototype. We'd need to have a
concept of user identities on the server, plus a small server module to
verify the client's identity assertions, and presumably some changes to
the client to actually show the new things.

This is blocking on the server handling sessions and user identities,
and more or less blocking on implementing the design changes. At least,
r

[2013-03-16 15:34] cdelahousse commented on #53
Ha! I'm in the example!

Can you explain the second figure down from the top? Is that the client in tutorial mode?

Why are the comments to the right AND the left?

Can you give a bit of context to the figures?

[2013-03-19 14:50] spratt opened #86 "Prepare for final submission"
@asomayaji gave us specific instructions for the organization of the final project submission.  We should organize the repo as per the specifications and create the necessary documentation.

[2013-03-19 14:50] spratt commented on #86
See http://homeostasis.scs.carleton.ca/wiki/index.php/WebFund_2013W_Final_Project for specifications.

[2013-03-19 14:53] spratt commented on #86
Note that the following need to be notable in order to get full marks:
- README.md
- docs/Motivation.md
- docs/Extensions.md
- code style and quality
- overall functionality

[2013-03-19 15:15] spratt commented on #83
Done.

[2013-03-19 15:15] #83 closed, assigned to cdelahousse

[2013-03-19 15:15] spratt commented on #84
We may need to modify the client code a little, but the client has all the information it needs.

[2013-03-19 15:16] spratt commented on #10
I think we've decided not to do this in general, but we can copy in any specific elements that seem like a good idea.

[2013-03-19 15:16] #10 closed, assigned to nobody

[2013-03-19 15:18] spratt commented on #52
I think this would be a great thing to include in our ideas for Extensions, since it would require a lot more work than we can put in before the end of term.

[2013-03-19 18:11] cdelahousse commented on #86
Extension Suggestions:
Serving the app over SSL.
Private Accounts
Forking

[2013-03-19 18:16] spratt commented on #86
Suggestions for extensions?  You should make issues.

[2013-03-19 18:18] spratt commented on #31
@cdelahousse @psimonyi @bheesham One or more of us should do this for our next (and final) sprint.  I want to get @asomayaji to give us feedback on how to scale before the end of the course.

[2013-03-19 18:19] spratt commented on #32
@cdelahousse @bheesham @psimonyi One or more of us should do this for the next (and final) sprint.  I want to get feedback from @asomayaji on how to secure our app before the end of the course.

[2013-03-19 23:41] spratt opened #87 "Use emacs directory variables maybe"
See: https://www.gnu.org/software/emacs/manual/html_node/emacs/Directory-Variables.html

Having per-file local variables that are the same for all files is dumb.

[2013-03-19 23:49] psimonyi commented on #87
Sounds good. I think you need a plugin to do this kind of thing in vim.
Beware that you don't accidentally use spaces in Makefiles, for example.

[2013-03-19 23:57] spratt opened #88 "how do we want to run code when jquery document ready"
I prefer the simpler

[code]

but @psimonyi prefers the more explicit

[code]

We should probably pick one and stick with it.

@cdelahousse @bheesham

[2013-03-20 00:02] psimonyi commented on #88
The only reference I can find is this:
http://api.jquery.com/ready/

It doesn't mark $(handler) as "deprecated", like some others, but it is
pretty clearly an alternative syntax, not the primary one.

[2013-03-20 00:54] spratt commented on #88
Christian agrees.  Going to consider this resolved.

[2013-03-20 00:54] #88 closed, assigned to nobody

[2013-03-20 03:06] psimonyi commented on #86
Suggestion: we should make docs/ a submodule, since this stuff doesn't really make sense in the long term. For example, nobody's going to update the architecture diagram, and outdated docs are probably worse than no docs. Also, it might be better not to have student numbers in permanent history.

[2013-03-20 03:16] psimonyi commented on #76
Exactly. We could:
1. Fork JSHint so it merges configuration files
2. Generate the .jshintrc files (e.g. with make) from a common source
3. Add a `/* globals: ... */` declaration at the top of each file
4. Just have some duplication until someone else does 1.

I'm in favour of 4.

[2013-03-20 03:34] cdelahousse commented on #76
Meh. No biggy.

[2013-03-20 03:35] psimonyi commented on #76
I agree that the situation is suboptimal.

[2013-03-20 16:56] #36 closed, assigned to psimonyi

[2013-03-20 16:58] spratt commented on #87
Done.

[2013-03-20 16:58] #87 closed, assigned to nobody

[2013-03-20 17:01] spratt commented on #31
Part of this should address #33 and #45 and #64

[2013-03-20 21:04] spratt commented on #76
We have some nice JSHint files now.  Peter said that the issue is only sort of closed.  What still remains?  Also, we should do a short write-up on how to add this as a pre-commit hook to git.

[2013-03-20 21:14] psimonyi commented on #76
What still remains? Actually doing it. We shouldn't require that commits pass JSHint with no complaints, though: it isn't capable of checking some style requirements. For example, it requires braces around control structure bodies, but I'm perfectly happy with one-line statements like `if (error) return;` --- the argument for braces only applies when the head and body are on different lines.

[2013-03-20 21:29] psimonyi commented on #76
However, that's a long-term thing. Let's call this closed.

[2013-03-20 21:29] #76 closed, assigned to nobody

[2013-03-22 05:03] cdelahousse opened #92 "Code Review does not work with Node v.0.10.0"
I just upgraded my version of node version 0.10.0-2chl1 of nodejs via this PPA: https://launchpad.net/~chris-lea/+archive/node.js/.

It broke CR.

I had to revert to version 0.6.19 of Nodejs to get it working again.

I suspect this has to do with either the reverse proxy or node-static. I could connect via `wget` to our app on port 20193 and get a response, but when I tried port 8080 (the proxy) a

[2013-03-22 05:06] cdelahousse commented on #92
Seems related to this:
https://github.com/cloudhead/node-static/pull/86

[2013-03-22 18:05] #24 closed, assigned to spratt

[2013-03-22 20:25] spratt opened #93 "Following tutorial doesn't unlock full tutorial"
When following the tutorial after submitting code, the tutorial highlights the code box and prompts the user to select text.  If you select the text, then click "next" in the tutorial, it doesn't move to highlight the new comment box.  However, if you already have text selected, starting the tutorial prompts to select text, then highlights the new comment box and prompts the user to review the tex

[2013-03-22 20:34] psimonyi opened #94 "Centralize dependencies version numbers"
Right now, the version numbers for a lot of our dependencies show up in our code (because the path where we extract them is whatever the zip extracts to, which may include a version number). We should have one place (the dep list used by the download script) that specifies a version number, and everywhere else we should just have the library name.

[2013-03-22 20:54] spratt commented on #84
I'm pushing this tentatively to Sprint 4.

[2013-03-22 20:54] spratt commented on #67
I'm pushing this tentatively to Sprint 4.

[2013-03-22 20:54] spratt commented on #27
I'm pushing this tentatively to Sprint 4.

[2013-03-22 21:05] spratt opened #96 "Input Validation/Sanitization"
We don't do any kind of input validation/sanitization.

[2013-03-22 21:08] spratt opened #97 "SQL or NoSQL?"
I'm not sure we need the consistency guarantees of SQL.  Thoughts?

[2013-03-22 21:09] psimonyi commented on #97
Zis is an issue ve should viscous.

[2013-03-22 21:10] spratt commented on #97
Anil is pushing mongoDB, but I hear redis has seen a lot of adoption in industry: http://redis.io/

[2013-03-22 21:11] spratt commented on #97
An old article on how to set up redis with node: http://howtonode.org/node-redis-fun

[2013-03-22 21:15] spratt opened #98 "Our routing is a dirty hack"
I wrote the simplest possible routing while learning to use node when I first wrote the app and it hasn't been touched since.  We may want to replace it with a micro-framework like https://github.com/gjritter/nerve/

Thoughts?

[2013-03-22 21:21] spratt commented on #97
Apparently redis is good for scalability: http://stackoverflow.com/questions/4710420/scaling-node-js

[2013-03-22 21:22] spratt commented on #31
http://stackoverflow.com/questions/4710420/scaling-node-js

[2013-03-22 21:26] spratt commented on #96
This library looks nice for both of these purposes: https://github.com/chriso/node-validator

[2013-03-22 22:05] spratt opened #99 "The static server in our code won't be used in production"
We should probably ditch it.  @psimonyi is looking into a simple alternative.

[2013-03-22 22:06] spratt opened #100 "The proxy server in our code won't be used in production"
We should probably get rid of it.

[2013-03-22 22:18] cdelahousse commented on #98
We get routing for free with Connect.

[2013-03-22 22:20] spratt commented on #98
I assume you mean that connect has a routing module.

[2013-03-22 22:26] spratt commented on #98
Ah, it looks like connect is the router.  Wow, connect's documentation is terrible.

[2013-03-22 22:28] spratt commented on #98
What does connect.use(...) do?!

[2013-03-22 22:29] psimonyi commented on #98
But there's source code! Source code is better than documentation because it's more precise.

[2013-03-22 22:37] spratt commented on #98
Looks like connect.use([route='/',]fn) adds routes to the router.

[2013-03-22 22:52] spratt commented on #98
Yeah, we could rewrite about half the backend in a few lines using connect.

[2013-03-24 01:24] spratt commented on #98
Let me try to _express_ my seething hatred for connect.

Remember what I said about documentation?  I take it back.  Their documentation is beyond terrible.  It's harmful.

See the documentation for the urlencoded middleware: http://www.senchalabs.org/connect/urlencoded.html

It's basically just the source for that middleware, right?  Wrong!  It's actually some older version of the source for that

[2013-03-25 04:47] spratt commented on #32
@psimonyi is going to be lead on this.

We should meet with @asomayaji sometime this week to go over the common security flaws we could try to fix.

@cdelahousse @bheesham You both should come if you're interested in the security side.

[2013-03-25 04:49] spratt commented on #31
@cdelahousse You're lead on this.

I have a conversion to redis back-end blocked waiting for another pull request to go through.  Once that's in, we should arrange to spend a night this week hammering the app running on my laptop (since we don't have a production deployment ready yet).

[2013-03-25 04:51] spratt commented on #39
I have a redis conversion blocked waiting for another pull request to go through, but once it's in it should be easy enough to start throwing users into the database (no schema, yay!).

[2013-03-25 05:23] spratt commented on #32
http://redis.io/topics/security for when we start using redis

[2013-03-25 06:35] #92 closed, assigned to nobody

[2013-03-25 06:35] #98 closed, assigned to nobody

[2013-03-25 06:35] #99 closed, assigned to nobody

[2013-03-25 06:35] #100 closed, assigned to nobody

[2013-03-25 14:44] spratt commented on #86
Oh hey.  We're supposed to be done the draft documentation for the end of this week by our original plan.  Let's do that.

[2013-03-25 18:01] spratt commented on #21
i'm marking this as an extension since I think this requires SSL which we won't be getting in the near future.

I see the academic use case for encrypted pages.  A TA wanting to give private feedback on student code probably doesn't want to let other see the feedback without the express permission of the student (in which case, the student can give that person the password).

[2013-03-25 18:14] spratt commented on #33
@cdelahousse This should be a big part of our scalability audit.  Let's send less characters over the wire and open less TCP connections.

[2013-03-25 18:15] spratt commented on #64
Marking this as a duplicate of #45 and closing this issue.

[2013-03-25 18:15] #64 closed, assigned to nobody

[2013-03-25 18:17] spratt commented on #45
@bheesham It would be really awesome if you could finish this when you have time.

Check out this article on deploying node.js to webfaction to see the issues we need to solve: http://shkfon.tumblr.com/post/27178918675/real-world-nodejs-part-1

[2013-03-25 18:18] spratt commented on #84
This is solved in the above pull request.  Turns out the front-end didn't need modification at all, it was ignoring everything except for the id it was getting back.

[2013-03-25 18:19] spratt opened #103 "Our page margins suck"
I hate how everything bumps up against the side of the browser on the left.  Let's give at least a little spacing for breathing room.

[2013-03-25 18:21] spratt opened #104 "Our page layout sucks"
I hate how the tutorial button runs right up against the code review text box.  I think we should put the tutorial button in the top right, aligned vertically with the logo on the left.

[2013-03-25 18:47] spratt commented on #86
See https://github.com/CarletonU-COMP2406-W2013/Steamed-Pears-docs

[2013-03-25 21:13] spratt opened #106 "Include Steamed-Pears-docs as a git submodule"
I don't know how to do this, and I suspect either @bheesham @cdelahousse or @psimonyi does.  :)

[2013-03-26 12:44] cdelahousse commented on #32
Tell me you guys go see Anil. I'd love to see what he has to say.
On Mar 25, 2013 1:23 AM, "Simon David Pratt" notifications@github.com
wrote:

[2013-03-26 12:52] cdelahousse commented on #31
Spending a night together hammering a machine sounds really nice.

I wanna know what you mean by scalability audit. I mean, there s a lot we
could do. You spoke of minification in another issue and related it to the
audit. I'm confused as to how the relates to auditing.

Should this issue be "Make scale and then test"?
On Mar 25, 2013 12:49 AM, "Simon David Pratt" notifications@github.com
wrote:

[2013-03-26 16:34] spratt commented on #31
On 03/26/2013 08:52 AM, Christian Delahousse wrote:

Heh.

I mean we should thoroughly examine (audit) the bottlenecks of scaling
the app and, implicitly, to fix as many as we can.  w.r.t. minification
- it's something on which we can improve, it should be a goal to figure
  out the best way to do it in production and do it.

[2013-03-27 02:56] cdelahousse commented on #97
For the record, I want everyone to know that I think this is swell.

[2013-03-27 03:03] cdelahousse opened #107 "Code Comment Headers"
I like @spratt's proposal.

https://github.com/CarletonU-COMP2406-W2013/Steamed-Pears/wiki/Coding-Standards#javascript-1

The only thing I disagree with is having an asterix on the far right of the text.

[code]

I think it's annoying, it's a bitch to adjust and makes modifying the headers more difficult.

[code]

Ahh.... Much better.

[2013-03-27 04:36] psimonyi commented on #31
You should check how the redis snapshot configuration performs. /etc/redis/conf:108

[2013-03-27 06:44] psimonyi commented on #21
I think this is a really poorly specified issue. If it's "we should
serve pages over SSL", then sure. But if it's some sort of "we should
have passwords" then I'm unconvinced. I guess we don't have to sort this
out to call it a potential extension, though.

[2013-03-27 07:07] psimonyi commented on #106
Well, I started reading about this, and it seems submodules aren't as great as they appear: they do what we want, but you have to be careful and run a ridiculous number of git commands every time you do something. And submodules aren't even cloned as part of the containing repository :( so it seems like a net disadvantage to make the docs a submodule while we're still working on them.

[2013-03-27 11:06] spratt commented on #107
I wrote a script in emacs that closes mine.  I suspect you could do the same in vim.

[2013-03-27 13:35] cdelahousse commented on #32
From #102:
I think we should start using a replacer function argument with JSON.stringify.
https://developer.mozilla.org/en-US/docs/Using_native_JSON#The_replacer_parameter
@asomayaji was speaking about whitelists and a replace function would be a super easy implementation.

[2013-03-27 16:32] cdelahousse commented on #33
I'm working on writing some production build scripts. @spratt, were you planning on using the requireJS build procedures?

[2013-03-27 16:55] spratt commented on #33
@bheesham is ostensibly working on production build scripts.

Yes, we should use the requireJS build script r.js.  It knows what files we actually depend on, so it can build a dependency graph and put everything together sanely.

[2013-03-27 16:59] cdelahousse commented on #33
Shit. So my work this morning has been for naught. I'll show you what I was
thinking
On Mar 27, 2013 12:55 PM, "Simon David Pratt" notifications@github.com
wrote:

[2013-03-27 17:14] spratt commented on #33
I suspect it won't be completely for naught.  We should handle minification as a separate issue from deployment because it's kind of a big deal and there's lots of ways to do it.

[2013-03-27 17:19] spratt commented on #33
Sorry, I was still waking up.  @bheesham is working on production _deployment_ scripts.

[2013-03-27 17:20] spratt commented on #33
It looks like the r.js optimizer does exactly what we want.  It builds the dependency tree of explicit require calls (not including the dynamic ones we load for syntax highlighting), then packages all those files together in one file and (by default) calls uglifyJS on it.

[2013-03-27 17:24] spratt commented on #33
The syntax highlighting files will have to available separately and (ideally) individually minified.

[2013-03-27 20:30] spratt commented on #21
I interpret it as we need to provide private pages.  See my write-up in the Extensions.md of the docs repo.

[2013-03-27 20:32] spratt commented on #32
@cdelahousse that's a great idea.

[2013-03-28 00:37] #41 closed, assigned to spratt

[2013-03-28 00:37] #84 closed, assigned to spratt

[2013-03-28 00:37] #97 closed, assigned to spratt

[2013-03-28 00:40] spratt commented on #86
This is done.  Just waiting on putting it into the repo.

[2013-03-28 00:41] #86 closed, assigned to spratt

[2013-03-28 00:41] spratt commented on #67
I think we can consider this done based on the recent pull requests.  @bheesham what say you?

[2013-03-28 00:45] psimonyi opened #108 "Choose URLs"
In [#102](https://github.com/CarletonU-COMP2406-W2013/Steamed-Pears/pull/102#discussion_r3551050), we started discussing what form the `/do` URLs should have.

[2013-03-28 00:52] spratt commented on #108
I don't really like the /do part.  It is really just something short I used to proxy to the back-end.

I would like the following URLs to respond to GET requests:
- /code/unique-universial-identifier
- /comment/count/unique-universial-identifier
- /comments/unique-universal-identifier/8

And the following URLs to respond to POST requests
- /new/code
- /new/comment

And the following URLs to respon

[2013-03-28 15:53] bheesham commented on #67
I agree. Your rewrite took out most of the grossness I didn't like.

[2013-03-28 16:32] #67 closed, assigned to bheesham

[2013-03-28 16:46] spratt commented on #108
Maybe replace /do with /object ?

So the full url would be:

http://review.steamedpears.com/object/new/code

or

http://review.steamedpears.com/object/code/unique-universal-identifier

[2013-03-30 03:30] spratt commented on #31
Using sqlite

[code]

Transactions:               10378 hits
Availability:              100.00 %
Elapsed time:               59.53 secs
Data transferred:            1.39 MB
Response time:                1.13 secs
Transaction rate:          174.33 trans/sec
Throughput:                0.02 MB/sec
Concurrency:              197.04
Successful transactions:       10378
Failed transactions:

[2013-03-30 03:40] spratt commented on #31
### Sources of Errors
- The above tests were with very similar but not identical data.
- The second test (redis) was immediately following a system reboot and while running a GUI (lightdm)
- A significant amount of the response string was taken up by pieces of data that sequelize was adding to the models (last modified time and created time)

### Discussion of Results

I think the above captures t

[2013-03-30 03:47] spratt commented on #31
I think @bheesham had exactly the right idea when he suggested using headless webkit, for testing the page load time performance.  I think it's important to test page load time because it has a big impact on user experience.  We should do a before and after the minification.

@bheesham: which headless webkit thing were you suggesting?  PhantomJS (http://phantomjs.org/)?  Is there an automated test

[2013-03-30 03:53] spratt commented on #33
See #31 for my discussion on testing.

[2013-03-30 03:59] spratt commented on #31
@cdelahousse I think we've ironed out the major bug with your dev environment.  Do you think you can get some data on page load times before/after minification?  I think we could bring our data to @asomayaji with the things we've considered and he can (hopefully) suggest where to go from there.

[2013-03-30 04:01] spratt commented on #31
The nice thing about page load times is that they aren't about stressing your system.  We should just load the page > 30 times and take the average of the page load from initial request to final response (or ideally the end of rendering if possible?).

[2013-03-31 20:19] cdelahousse opened #109 "r.js breaks Code Review"
I've finished a first draft of our build script (see bin/build_production_all.sh on the build-production branch of my personal repo https://github.com/cdelahousse/Steamed-Pears/tree/build-production ).

Unfortunately, minifying using the r.js optimization script seems to be breaking the `main.js` script on the client side.

I'm testing the production build by cloning a clean copy of Code Review an

[2013-03-31 20:23] spratt commented on #109
It may be from uglifyjs.  We can test it if we can get r.js to concatenate the files without minifying.  I'll see what I can figure out.

[2013-03-31 20:29] cdelahousse commented on #109
Yeah. I'm pretty sure its uglify. There are options to change to the closure compiler but that may incure a java dependence. I'll try that when I have a moment.

[2013-03-31 20:47] psimonyi commented on #109
It may not be. Not all the "modules" in the client are using require.js
properly, and that might confuse the optimizer. I was reading the
Require docs recently, and it seems there are some fairly significant
differences from CommonJS modules. Basically, each client-side file
should be one big call to define().

[2013-03-31 20:48] spratt commented on #109
Remember that all the code mirror syntax highlighting files will need to be added separately because they are loaded dynamically by a string value rather than a parseable string.

[2013-03-31 20:55] spratt commented on #109
Alright, I turned optimization off...but when your script says that it builds to the production directory, there are a lot of missing files in that directory.

[2013-03-31 21:18] spratt commented on #109
Figured out the problem (see https://github.com/cdelahousse/Steamed-Pears/commit/8e7a6d1a3897e4ecc1bbd06f0a142c114f9d3279 for discussion).  With uglify turned off, it doesn't run.  It can't find CodeMirror.

[2013-03-31 22:20] spratt opened #110 "Generate the Bookmarklet URL from the current url"
Why not use window.location to build the link we use for the bookmarklet?  That way it will work wherever it gets deployed, even locally!!

[2013-03-31 22:32] spratt commented on #109
Alright, I have it fixed without minification.  See https://github.com/spratt/Steamed-Pears/commit/1a6d10f16020c48f77529be2fcba22ce98b42d3a

The problem was that the runtime has a lot of what require.js calls "shims" which addresses the problem that @psimonyi was talking about.  Namely, not all of our libraries play nicely as require.js modules.  So require.js needs a little extra configuration to

[2013-03-31 22:36] spratt commented on #109
After adding uglifyJS back in, it still works fine.  https://github.com/spratt/Steamed-Pears/commit/aea31c908fc2e8b0eef75c6d39b6958b4e0f9408

[2013-03-31 22:36] #109 closed, assigned to nobody

[2013-03-31 22:48] spratt commented on #109
It bugged me that we had to duplicate a lot of the configuration we're doing for the runtime.  Turns out, require.js can just read in the runtime configuration and use that.  See https://github.com/spratt/Steamed-Pears/commit/bc1366a35e49f5903e8de4a932a2df31b9957b23

[2013-04-01 18:57] cdelahousse commented on #108
From our discussion before the shit fest that was last Thriday:

We agreed /api/<stuff> is better than /object/<stuff>

For getting content:
/api/code/ or /api/code/uuid with a get request.

For adding content:
- Simon likes /api/new/code with a post request.
  - Pro: explicit
  - con: lack of symmetry with the get resource.
- Bhee and Christian like /api/code with a put or post request
  - Basica

[2013-04-01 20:36] spratt commented on #108
Just to clarify, I suggest we get from `/api/code/universal-unique-identifier` and we push to `/api/new/code`.

[2013-04-02 00:08] spratt opened #114 "Hosting"
I think it's about time we talk about what we want to do after the course is over.  Do we want to keep hosting on my WebFaction account (which is basically free)?  Do we want to go with something more elastic in case we get a sudden surge of traffic?  Do we want to split the difference and use some kind of CDN to serve the front-end but keep the back-end on a central server?

On my hardware, the b

[2013-04-02 00:25] cdelahousse commented on #33
Closed #113

[2013-04-02 00:25] #33 closed, assigned to cdelahousse

[2013-04-02 00:28] spratt commented on #31
We should figure out how to cache requests on the back-end.  There's not a lot of data, but some of the requests could take a lot of time.  For instance, the commentCount call takes time linear w.r.t. the number of lines on which there are comments.  This might get slow.  We should test how slow it is versus how many lines have comments.

[2013-04-02 00:32] spratt opened #115 "redis doesn't read in the last db dump"
I've heard that redis over-writes the dump immediately upon starting up.  We should fix this.

[2013-04-02 01:00] cdelahousse commented on #31
Page load testing:
I'm using Google Chrome with Chrome Dev Tools. I'll clear my cache on every reload. I'm running Code Review locally.

These are the results for the project at commit da8e84c401486eaac706bfc2b8ae98a6ef374ef5

I'm using 5 paragraphs of lorem ipsum. (http://www.lipsum.com)

## Unminified

The following is the project before the production script has been run.

Chrome tools audit:

[2013-04-02 01:20] cdelahousse commented on #31
## Minified version

Same setup for this test, except I've run the production script and replaced the contents of `src/client` with the production output.

Dev Tools audit output:

[code]

From the timeline:

9 requests  ❘  421 KB transferred  ❘  1.03 s (onload: 563 ms, DOMContentLoaded: 563 ms)
9 requests  ❘  421 KB transferred  ❘  1.20 s (onload: 684 ms, DOMContentLoaded: 683 ms)
9 requests  ❘

[2013-04-02 01:31] cdelahousse commented on #31
A few things we could do.

Server side:
- enable far-expiring caching with versioning on all JS and CSS
- enable gzip compression

Clientside:
- I think our `r.js` build profile needs a bit of work. Have you see what it does to main.js? There's like 3 pages of licenses.
- I'm wondering if there's a bootstrap optimizer. We're only using a small part of it. We could probably slice out what we don't

[2013-04-02 01:39] cdelahousse commented on #31
A few more things:

I first read these rules a few years ago. Found them cool:
http://developer.yahoo.com/performance/rules.html

The same thing but from google:
https://developers.google.com/speed/docs/best-practices/rules_intro

@bheesham was speaking of building a phantomJS test bed. YSlow has basically done the same thing.
http://yslow.org/node-server/
http://yslow.org/command-line-har/
http:/

[2013-04-02 13:07] spratt commented on #31
We should merge and optimize the CSS files.  That will get rid of 3 requests.

[2013-04-02 17:24] cdelahousse opened #116 "Make Documentation Index"
We've a bit of documentation spread around everywhere. We should add an index of sorts to the readme.

[2013-04-02 19:53] spratt opened #117 "Use less locking in DB"
I even know how to do this - http://redis.io/commands/hincrby solves the worst of the situations I use locking for.

[2013-04-03 16:20] cdelahousse commented on #116
See 3e94ba8aa1af283a2fb729f477b620c35a85ccc6

[2013-04-03 16:22] cdelahousse opened #119 "Update Server API on wiki"
#116 has us referring to the the Server API on the wiki. I think it's a bit out of date. It should be updated.

[2013-04-03 16:24] spratt commented on #119
#116 doesn't refer to the Server API on the wiki that I can see.

[2013-04-03 16:24] cdelahousse opened #120 "Architecture Doc"
It's a required doc. @bheesham or @spratt, use your tablet to draw another diagram. We'll need to delete the one in the wiki.

[2013-04-03 16:26] spratt commented on #120
Why do we need to delete the one on the wiki?

[2013-04-03 16:26] cdelahousse commented on #119
The solution to #116 will have a reference to all existing documentation. The server API is part of the existing docs.

[2013-04-03 16:28] cdelahousse commented on #120
It's out of date. We don't use sequelize, formidable, etc...

[2013-04-03 16:30] spratt commented on #119
We decided that the server API was really supposed to be kept as a file in the repo.  See https://github.com/CarletonU-COMP2406-W2013/Steamed-Pears/wiki/Process

[2013-04-03 16:37] cdelahousse commented on #119
Can we start doing this after we've delivered the project? Let's focus on shipping.

[2013-04-03 16:38] spratt commented on #119
I think we can ship and write a server API doc.

[2013-04-03 16:45] cdelahousse commented on #119
The API doc has already been written. It just needs to be updated.

There's problem, though. The API docs, according to our process document, should be located in the `docs` folder. That's where Anil's required docs will go. I don't want to confuse him by popultating that directory with non essential files.

Let's just keep it the wiki for now.

[2013-04-03 16:47] spratt commented on #119
The API doc can be updated in text format.

We'll have to modify the location of the text file.

Let's stick to the agreement we came to at the start of the project.

[2013-04-03 17:12] spratt commented on #119
https://github.com/spratt/Steamed-Pears/blob/personaServer/http_api.md

[2013-04-03 17:13] spratt commented on #119
Sorry.  I'll close when the pull request gets accepted.

[2013-04-03 21:08] psimonyi commented on #108
+1 for `/api`. I like the idea of `/api/code/new` better than `/api/new/code` (cf. `/api/code/<id>`).

[2013-04-03 21:35] spratt commented on #108
Alright.  I like that it's explicit.  I prefer `<verb>` `<noun>` like in English, but I can agree to this.

[2013-04-03 21:37] spratt commented on #108
Also, I think of new as a verb.

[2013-04-03 21:44] psimonyi commented on #108
`<verb>` `<noun>` works, but URIs are hierarchical: the more general thing comes first. (`/api/newcode` would be okay.)

[2013-04-03 22:21] psimonyi commented on #31
gzip should make the repeated licences pretty much negligible.
nginx should be able to do the caching stuff.

[2013-04-03 22:22] psimonyi commented on #108
On Wed, 2013-04-03 at 14:37 -0700, Simon David Pratt wrote:

[2013-04-03 23:40] spratt commented on #108
I like `/api/code/new` better than `/api/newcode` because the former sounds more like a resource.

[2013-04-03 23:41] #117 closed, assigned to nobody

[2013-04-03 23:46] spratt commented on #31
We don't just have repeated licenses.  The massive comment headers we have at the top of each client js file are copied into the minified file.

[2013-04-04 00:38] psimonyi opened #122 "Check for DOMContentLoaded in one place"
Right now there are several $(document).ready() things when nothing in the module actually works without the DOM. We should just wait for the DOM in main.js or something before letting those modules do anything instead of checking within each one.

[2013-04-04 00:43] psimonyi opened #123 "Pass in ports from start scripts"
The various ports we use are set near the tops of a few JS files. The start scripts should set the ports and pass them to the JS, so they're configurable without changing the source.

[2013-04-04 00:55] psimonyi opened #124 "Deduplicate bookmarklet shim code"

[2013-04-04 01:01] psimonyi opened #125 "Bookmarklet overlay with instructions"
I want one.

[2013-04-04 01:36] spratt commented on #122
Nothing in the module works without the DOM?

[2013-04-04 01:36] psimonyi opened #127 "Move authentication handlers into a new module"
It's a lot of code for requestHandlers that could be abstracted out.

[2013-04-04 01:41] psimonyi commented on #122
There are several. `tutorial`, for example.

[2013-04-04 02:24] spratt commented on #122
I feel like I'm missing the context for that reply.

[2013-04-04 02:44] psimonyi opened #128 "Standardize sanitization"
Sanitize standardization?

[2013-04-04 03:08] psimonyi commented on #122
`login.js` also makes no sense without a DOM; all that is useful before the DOM is loaded is downloading the JS.

[2013-04-04 03:39] #116 closed, assigned to nobody

[2013-04-04 05:38] psimonyi opened #129 "Loading progress indicator"
While stuff is loading, we should show something to say so. (Try running the local server while compiling something big.)

[2013-04-04 05:41] spratt opened #130 "When code is submitted, give some indication to user"
Alexis was super confused when nothing seemed to happen except the controls disappearing.

[2013-04-04 05:45] psimonyi commented on #130
If I could get around to writing the code for that sketch I drew, it would fix this pretty well...

[2013-04-04 05:47] spratt commented on #130
The trick is to submit a pull request while there's none in the queue, thus pressuring us to review and accept yours first by convention.

[2013-04-04 05:56] psimonyi commented on #108
I like it better because it's as if "new" is the ID; it's just a magical ID that redirects the POST to a new ID.

[2013-04-04 13:05] cdelahousse commented on #128
Could you elaborate on this?
On Apr 3, 2013 10:44 PM, "Peter Simonyi" notifications@github.com wrote:

[2013-04-04 17:18] spratt commented on #128
We're doing a lot of ad hoc validation of user input.  In one and only one location we're sanitizing by url encoding.  We should standardize as much as possible.

[2013-04-04 17:22] #39 closed, assigned to psimonyi

[2013-04-04 17:22] #104 closed, assigned to nobody

[2013-04-05 19:33] cdelahousse commented on #114
I think this is a question we should answers a bit further down the road. We don't have much in terms of users nor functionality. Once our app becomes a bit more polished, we should revisit this question.

For now, I think WebFaction is fine.

[2013-04-05 21:07] bheesham commented on #114
Well, I have a webfaction too. I can look into a way for my redis, to talk to your redis and we'll have a backup. It **might** be possible to do some reverse proxying.

[2013-04-05 21:09] spratt commented on #114
It would be wicked if we could do some sort of CDN type thing.  Since your server is in Europe and mine is in the US, if we each served to requests coming from  nearby it would be faster for folks.

[2013-04-06 20:32] psimonyi commented on #114
Recently read: http://www.peterbe.com/plog/never-put-external-javascript-in-the-head
Summary: minimize DNS lookups.

[2013-04-07 01:58] spratt commented on #114
If the whole front-end is loaded by CDN, the extra DNS lookup would only happen when querying the back-end.

[2013-04-07 02:00] spratt commented on #114
Actually, we're already guilty of doing this to get the persona library.

[2013-04-08 01:10] psimonyi commented on #114
I thought the Persona library was loaded asynchronously. (But we should not show the button until it's loaded... separate issue, I guess.)

[2013-04-08 03:01] spratt commented on #114
Persona is loaded by require...which I think is async.

[2013-04-09 20:54] psimonyi opened #133 "Use Connect's anti-CSRF thing"
It's right there...

[2013-04-09 21:00] psimonyi opened #134 "The submodule isn't being cloned"
`git submodule update --init` right after a fresh clone (or `git clone --recurse-submodules`) doesn't get the submodule for me.

[2013-04-09 21:13] psimonyi opened #135 "`git clean -X` deletes tracked files"
This seems like a bug in git, even though it follows the literal interpretation of the man pages. But it means reset_dev.sh leaves uncommitted changes in an initially clean repository.

[2013-04-09 21:14] psimonyi commented on #133
See also #32

[2013-04-10 06:48] #134 closed, assigned to cdelahousse

[2013-04-10 06:52] psimonyi commented on #135
Closed by #136 (7929d3a)

[2013-04-10 06:52] #135 closed, assigned to psimonyi

[2013-04-10 18:28] psimonyi commented on #133
Oh, past me, you were so optimistic.

[2013-04-10 18:36] cdelahousse opened #140 "Get over to anils office now!"

[2013-04-10 19:47] #140 closed, assigned to nobody

[2013-04-10 20:18] #133 closed, assigned to nobody

[2013-04-10 20:48] psimonyi opened #141 "Comments appear new->old"
They should be in old->new order.

[2013-04-10 20:49] psimonyi opened #142 "Error message for empty comments"
You can't submit a diff with no comment. We should have some message appear if you try.

[2013-04-11 06:58] psimonyi commented on #120
@cdelahousse put one in the docs submodule.

[2013-04-11 06:58] #120 closed, assigned to spratt

[2013-04-11 23:42] psimonyi opened #147 "Update docs submodule"
I don't know how to update the submodule commit pointer, but it is not current any more.

[2013-04-12 01:55] #147 closed, assigned to nobody

[2013-04-12 01:58] psimonyi commented on #115
I'm guessing that the problem is just that the stop script kills redis so it doesn't write the dump on shutdown.

[2013-04-12 02:01] #110 closed, assigned to cdelahousse

[2013-04-12 02:02] #106 closed, assigned to nobody

[2013-04-12 02:10] psimonyi commented on #119
Closed by #111

[2013-04-12 02:10] #119 closed, assigned to nobody

[2013-04-13 04:02] psimonyi opened #150 "Remove docs submodule"
We should probably wait to do that until @asomayaji has cloned the repository.

[2013-04-13 21:53] spratt opened #151 "No documentation for build_production_all.sh"
There's no mention of the minification script in the INSTALL.md file.  I have to look through the source to figure out how it works as I'm testing Bhee's deployment script.

[2013-04-13 21:53] spratt commented on #151
@cdelahousse

[2013-04-13 21:55] spratt commented on #151
It looks like you're meant to call `build_production_all.sh PREFIX_DIR`

[2013-04-14 00:06] spratt opened #152 "build_production_all.sh forces relative paths"
The script does something like `TARGET=$PWD/$1` which forces relative paths...we should just check if the TARGET variable is set then use it, otherwise use the sane default already provideed in build_production_all.sh

[2013-04-14 00:06] spratt commented on #152
@cdelahousse

[2013-04-14 00:07] spratt opened #153 "build_production_all.sh empties production directory by deleting and recreating directory"
On webfaction, you can't just remove a directory which you are serving to the web.  We should remove the contents of the directory instead.

[2013-04-14 00:07] spratt commented on #153
@cdelahousse

[2013-04-14 01:48] spratt opened #154 "build is broken"
See: http://review.steamedpears.com

[2013-04-14 01:48] spratt commented on #154
Specifically, see what happens when you try to load a piece of code that already exists.  e.g. http://review.steamedpears.com/index.html?id=f9ff145f-4d64-49c0-9269-ceaba53efdc7

[2013-04-14 02:30] spratt commented on #154
This is fixed on a commit waiting to be pulled into Bhee's commit.

[2013-04-14 03:10] spratt commented on #115
Nope!  I can see the data in the dump file...redis just doesn't read in the data from the dump when it starts up.

[2013-04-14 03:25] spratt opened #155 "Maybe redis wasn't the best idea..."
Reading up on redis, it seems that it is fast specifically because it keeps the whole DB in memory at once...which means there's a cap on DB size.  So either we need to expire code (bleh), or we should switch to another db.

[2013-04-14 15:23] bheesham commented on #155
We can maybe try out [Riak](http://basho.com/)

[2013-04-14 15:24] bheesham commented on #155
And, it does say so in the [introduction to Redis](http://redis.io/topics/introduction).

[2013-04-14 16:06] spratt commented on #155
1. We all know how much of the docs I read before I wrote the redis port.
2. The relevant part I see is "Redis works with an in-memory dataset," which is true for all databases.  There is a dataset that is in-memory, and then there is the full dataset.  Redis is designed for the whole dataset to be in-memory.  We could continue using it as a cache.

[2013-04-14 16:13] spratt commented on #155
I'm really going to miss Redis' data structures.

[2013-04-14 16:16] spratt commented on #155
This was the article I was reading recently: http://kkovacs.eu/cassandra-vs-mongodb-vs-couchdb-vs-redis

[2013-04-14 16:16] spratt commented on #155
It also considers Riak.

[2013-04-14 16:33] spratt commented on #155
After Redis, I like the sound of:
1. CouchDB: "For accumulating, occasionally changing data, on which pre-defined queries are to be run."
2. Riak: (no quote specifically for our app)

I would like MongoDB for 3, but an empty DB takes up 192Mb??

[2013-04-14 16:35] spratt commented on #155
Riak seems to be designed for fault tolerance, which I'm not super worried about for our app right now?  Maybe that would be a better selling feature for @asomayaji's suggested use case.

[2013-04-14 16:52] spratt opened #156 "Diff Review"
After hearing @asomayaji's suggestions, I think it would be interesting to extend or fork Code Review to make Diff Review.  The biggest feature of which would be to take a URL for the modified file.  Then we would pull down the edited file and show some context for the diff.

Thoughts?

[2013-04-14 17:14] bheesham commented on #155
I'm indifferent. I say we should just make ports for each, and figure out which one works the best for us. They all look like good alternatives.

[2013-04-14 17:16] spratt commented on #155
That sounds like fun.  I suspect Couch and Riak are super similar.

[2013-04-15 21:24] psimonyi commented on #155
If it weren't a shared host, we could just have ridiculous swap...

[2013-04-16 03:39] psimonyi commented on #115
It's the case for me. Make 10 database transactions, wait 5 minutes, and restart the server. Redis loads the dump just fine. But if I don't wait, redis is killed before it writes the data to the file, and the entries get lost.

[2013-04-18 22:09] #152 closed, assigned to nobody

[2013-04-18 22:09] #153 closed, assigned to nobody

[2013-04-18 22:09] #141 closed, assigned to nobody

[2013-04-18 22:09] #151 closed, assigned to nobody

[2013-04-19 00:36] cdelahousse opened #158 "Bookmarklet broken"
http://review.steamedpears.com/bookmarklet/bookmarklet.js is returning a 404.

[2013-04-19 00:47] spratt commented on #158
You're right, because it should be using bookmarklet.min.js.  At least, that's what the build script builds.

Also, there's a typo in the build script that outputs it to bookmarket/ instead of bookmarklet/.  See: http://review.steamedpears.com/bookmarket/bookmarklet.min.js

[2013-04-19 00:48] spratt commented on #158
Fixed the typo in the build script: http://review.steamedpears.com/bookmarklet/bookmarklet.min.js

[2013-04-19 00:52] cdelahousse commented on #158
Shit.
Nor is /bookmarklet/style.css being served.

[2013-04-19 00:53] spratt commented on #158
Yeah, that file doesn't even get built by the build script.

[2013-04-19 00:55] cdelahousse commented on #158
Also, the cors module isn't working.

[2013-04-19 00:56] spratt commented on #158
What makes you say that?

[2013-04-19 00:57] cdelahousse commented on #158
I'm getting this HTTP header/message:

OPTIONS
(failed)
Origin http://www.lipsum.com is not allowed by Access-Control-Allow-Origin.

[2013-04-19 00:58] spratt commented on #158
Cool.  Things to fix.

[2013-04-19 01:04] cdelahousse commented on #158
I'm fixing the CSS now...

[2013-04-19 01:33] cdelahousse commented on #158
@spratt says "Does it work if you build the bookmarklet in dev mode? I think the root cause of this issue was that dev mode builds bookmarklet.js and production builds bookmarklet.min.js"

All the production script does is uglify the bookmarklet.js to a file named bookmarklet.min.js code. The code still runs fine. The issue I'm getting is that the server is no longer sending an OPTIONS header.

[2013-04-19 01:34] cdelahousse commented on #158
Hold on. I'll retest locally.

[2013-04-19 01:34] spratt commented on #158
I appreciate everything you're saying here, but the context of that question was a line of code that specifically references the uglified version.

[2013-04-19 01:39] cdelahousse commented on #158
Even testing locally on the unminified build of the bookmarklet against my local install, I still get the same OPTION error.

[2013-04-19 01:41] spratt commented on #158
Look: that question is about a GET request for bookmarklet.min.js when you may have only built bookmarklet.js.  The CORS issue is separate.

[2013-04-19 01:49] cdelahousse commented on #158
Look: that's clearer. Thanks.

[2013-04-19 10:43] psimonyi commented on #123
Closed by #126 since we now have /etc/server_devel.yml

[2013-04-19 10:43] #123 closed, assigned to nobody

[2013-04-19 18:57] spratt opened #161 "Build script broken"
Turns out the build script didn't work, but it failed silently.  See the 403 at http://review.steamedpears.com/

The line that runs mktemp uses an option that doesn't exist on the production version.  I'm fixing now.

[2013-04-19 19:01] spratt commented on #161
I replaced the --tmp-dir option with -t, which fixes the problem.  Pull request will come later.

[2013-04-19 19:04] spratt commented on #161
Ugh... -t is deprecated in my local version of mktemp, but it's the only thing that works on the server.

[2013-04-19 19:05] spratt commented on #161
On server:

[code]

On lab computer:

[code]

[2013-04-19 19:12] spratt opened #162 "Tutorial is broken"
While viewing comments on a piece of code, the tutorial tries to highlight the comment submission box (which isn't displayed) and fails miserably.

[2013-04-19 19:53] psimonyi commented on #161
At home:

[code]

I still have `-t` (and it's still deprecated). "Unlike with -t, TEMPLATE [in --tmpdir=TEMPLATE] may contain slashes[...]", so `-t` should be fine until it disappears.

[2013-04-19 19:55] psimonyi commented on #162
Is this related to #93? I don't understand the description.

[2013-04-19 19:56] psimonyi commented on #115
@spratt: Is this fixed now?

[2013-04-19 20:25] psimonyi commented on #154
Fixed by f6c9cdd in #126.

[2013-04-19 20:25] #154 closed, assigned to nobody

[2013-04-19 22:05] spratt commented on #162
Alright, steps to reproduce:
1. go to a page with code like http://review.steamedpears.com/index.html?id=f9ff145f-4d64-49c0-9269-ceaba53efdc7
2. click on the code somewhere to bring up the comment submission box
3. click on a comment button (at the time of writing this, there is one comment on line 2)
4. click the tutorial button
5. click the next button

You should see something like this:

![Scr

[2013-04-20 02:31] psimonyi commented on #45
Is this resolved by #126? @spratt

[2013-04-21 01:00] spratt commented on #161
On my mac:

[code]

The only version information I have is in the man page:

[code]

I think the reason BSD doesn't include --version is because BSD considers all these programs to be part of the operating system, so the version is just the version of mktemp that comes with Mac OS X 10.8.3

[2013-04-21 17:01] psimonyi commented on #161
Looks as if we should be using `-t` then.

[2013-04-22 02:42] spratt commented on #45
Yup.

[2013-04-22 02:42] #45 closed, assigned to bheesham

[2013-04-27 18:33] #161 closed, assigned to nobody

[2013-05-23 15:41] #162 closed, assigned to nobody

[2013-06-01 05:07] psimonyi commented on #150
Closed via e4f7366 (#165)

[2013-06-01 05:07] #150 closed, assigned to nobody

[2014-05-02 16:49] spratt opened #167 "CSRF is broken on production server"

[2014-05-02 16:51] spratt opened #168 "Install fails"
While trying to fix #167 I tried to set up the server on my mac, but the install script failed.  Specifically, the node configure script failed.  I think the node python script expects python 2.7 not 3.2.

[2014-05-02 18:28] cdelahousse commented on #168
I think we should use something like Puppet, Chef, or Vagrant instead of just a script. There are tons of tools that'll help deploy the app.

[2014-05-02 18:41] spratt commented on #168
I like that idea.  Though we don't really need anything complicated.  Just something that will pull down a specific version of node and redis, compile, and put it in one of two places.

[2014-05-02 18:43] spratt commented on #168
Issue: the server has none of puppet, chef, or vagrant.  So we would need a script to install one of them.  If we have a script that installs an installer, we may as well just have a script that installs what we need.